
<div class="col-md-12 col-sm-12 col-lg-12">
	<div class="container-fluid">
		<div class="row">
		<div class="col-md-12">
			<h4 class="title">
							<b>Clients </b>
						</h4>
						<p class="category">
							<b>List of all Clients</b>
						</p>
		</div>
		<div class="col-md-12">
			<form name="brForm" data-ng-submit="submit()" novalidate>
							<div class="row">
								<div class="col-md-3">
									<div class="form-group">
										<label class="control-label">Salutation <span
											class="text-danger">*</span></label> <select class="form-control"
											data-ng-model="userData.salutation"
											data-ng-options="salu.id as salu.name for salu in salutations"
											required>
											<option value="">Select Salutation</option>
										</select>
									</div>
								</div>

								<div class="col-md-3">
									<div class="form-group">
										<label class="control-label">Name <span
											class="text-danger">*</span></label> <input type="text"
											name="firstName" class="form-control"
											data-ng-model="userData.name" required>
									</div>
								</div>

								<div class="col-md-3">
									<div class="form-group">
										<label class="control-label">Email address <span
											class="text-danger">*</span></label> <input id="userEmail"
											type="email" name="email" class="form-control"
											data-ng-model="userData.email" required>
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<label class="control-label">Mobile <span
											class="text-danger">*</span></label> <input type="text" name="mobile"
											class="form-control" data-ng-model="userData.mobile" required>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<button type="button" class="btn btn-sm btn-info pull-right"
												data-ng-click="addMore()">Add More</button>
									</div>
								</div>
							</div>

							<div class="row" data-ng-repeat="apps in userData.preApplications">
								<div class="col-md-3">
									<div class="form-group">
										<label class="control-label">Loan Type <span class="text-danger">*</span></label>
											<span data-ng-if="apps.status == 'REJECTED'">{{apps.applicationTypeName}}</span>
											<select class="form-control" data-ng-if="apps.status != 'REJECTED'"
											data-ng-model="apps.applicationTypeId"  data-ng-disabled="apps.isLoanDetailsLock"
											data-ng-options="appType.id as appType.name for appType in applicationTypes"
											required>
											<option value="">Select Application</option>
										</select>
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<label class="control-label">Loan Amount<span class="text-danger">*</span></label>
											<span data-ng-if="apps.status == 'REJECTED'">{{apps.loanAmount}}</span>
											<input type="number" name="amount" class="form-control"  data-ng-if="apps.status != 'REJECTED'"
											data-ng-model="apps.loanAmount" data-ng-disabled="apps.isLoanDetailsLock" required>
									</div>
								</div>

								<div class="col-md-2" data-ng-if="userData.applications.length > 1 && !apps.isLoanDetailsLock">
									<div class="form-group">
										<br>
											<span data-ng-if="apps.status == 'REJECTED'" class="btn btn-sm btn-danger">{{apps.status}}</span>
										</div>
								</div>
								
								<div class="col-md-2" data-ng-if="apps.isLoanDetailsLock">
									<div class="form-group">
										<div class="pull-right">
											<button type="button" class="btn btn-sm btn-success" disabled="disabled">Locked</button>
										</div>
									</div>
								</div>

							</div>
							<div class="row">
								<div class="col-md-8"></div>
								<div class="col-md-4">
									<div class="pull-right">
										<button type="submit" class="btn btn-primary btn-sm"
											data-ng-disabled="isDisable">Submit</button>
											
											<button data-ng-if="!isEmpty(userData.id)" type="submit" class="btn btn-default btn-sm"
											data-ng-disabled="isDisable" data-ng-click="initUserObj()">Cancel</button>
									</div>
								</div>
							</div>
						</form>
			
		</div>
			<div class="col-md-12">
			<div class="panel panel-default">
							<div class="panel-heading">
								<b>Borrowers</b>
							</div>
							<div class="panel-body">
								<div>
									<table class="table table-striped custom-table">
										<thead class="text-primary">
											<tr>
												<th style="width: 5%">No.</th>
												<th>Name</th>
												<th>Email</th>
												<th>Mobile</th>
												<th>Action</th>
											</tr>
										</thead>
										<tbody>
											<tr data-ng-repeat-start="borrower in borrowers" class="bg-info">
												<td>{{$index + 1}}</td>
												<td>{{borrower.name || 'NA' }}</td>
												<td>{{borrower.email}}</td>
												<td>{{borrower.mobile || 'NA' }}</td>
												<td><button class="btn btn-info btn-sm"
														data-ng-click="edit(borrower)">Edit</button>

													<button class="btn btn-primary btn-sm"
														data-ng-click="borrower.viewMore = !borrower.viewMore">View Applications</button>
											</tr>

											<tr data-ng-repeat-end >
												<td colspan="6" data-ng-if="borrower.viewMore">
													<table class="table table-striped table-bordered"
														data-ng-if="borrower.viewMore">
														<thead class="text-primary">
															<tr>
																<th style="width: 5%">No.</th>
																<th>Loan Type</th>
																<th>Amount (Rs.)</th>
																<th>Code</th>
																<th>Status</th>
															</tr>
														</thead>
														<tbody>
															<tr data-ng-repeat="apps in borrower.preApplications">
																<td>{{$index + 1}}</td>
																<td>{{apps.applicationTypeName || 'NA'}}</td>
																<td>{{apps.loanAmount || 0 | currency : getCurrencySymbol()}}</td>
																<td>{{apps.applicationId[0].leadReferenceNo || 'NA'}}</td>
																<td>
																	<span data-ng-if="apps.status == 'ACCEPTED'">{{apps.applicationId[0].status || NA}}</span>
																	<span data-ng-if="apps.status != 'ACCEPTED'">{{apps.status || NA}}</span>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>

											<tr data-ng-if="isEmpty(borrowers)">
												<td colspan="8" class="alert alert-default text-center">No Borrower referred Yet!</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
			
			</div>
		</div>
	</div>
</div>
