<div class="col-md-12 col-sm-12 col-lg-12">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<h4 class="title">
					<b>Change Password </b>
				</h4>
				<p class="category">
					<b>You Can Change password from Here</b>
				</p>
			</div>
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<form name="cpForm" novalidate>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group label-floating">
										<label class="control-label">Current Password</label> <input
											type="password" class="form-control"
											data-ng-model="user.tempPassword" name="tempPassword"
											required> <span
											data-ng-if="cpForm.tempPassword.$invalid && (cpForm.tempPassword.$touched || cpForm.$submitted)"
											class="error-msg-style">Enter Current Password</span>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group label-floating">
										<label class="control-label">Password</label> <input
											type="password" class="form-control"
											data-ng-model="user.password" name="password" required>
										<span
											data-ng-if="cpForm.password.$invalid && (cpForm.password.$touched || cpForm.$submitted)"
											class="error-msg-style">Enter password</span>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-12">
									<div class="form-group label-floating">
										<label class="control-label">Confirm Password</label> <input
											type="password" class="form-control"
											data-ng-model="user.cnfPassword" name="cnfPassword" required>
										<span
											data-ng-if="cpForm.cnfPassword.$invalid && (cpForm.cnfPassword.$touched || cpForm.$submitted)"
											class="error-msg-style">Enter Confirm password</span>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-2 pull-right">
									<button type="submit" class="btn btn-primary pull-right"
										data-ng-click="changePassword()" data-ng-disabled="isDisable">Change
										Password</button>
								</div>
							</div>
							<div class="clearfix"></div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>