<div class="container-fluid"> 
	<div class="navbar-header"></div>
	<div class="collapse navbar-collapse"
		data-ng-if="user.userType == Constant.UserType.BORROWER.id || user.userType == Constant.UserType.PD_USER.id || user.userType == Constant.UserType.FCI_USER.id ">
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown"><a href="#" class="dropdown-toggle"
				data-toggle="dropdown"> <i class="material-icons">notifications</i>
					<span class="notification">0</span>
					<p class="hidden-lg hidden-md">Notifications</p>
			</a></li>
			<li class="nav-item dropdown" title="{{user.name}}">
				<div class="dropdown">
					<button class="btn btn-primary profile-btn dropdown-toggle"
						type="button" data-toggle="dropdown">
						<i class="material-icons">person</i> <span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="javascript:void(0)"
							data-ui-sref="web.lams.brProfile">Profile</a></li>
						<li><a href="javascript:void(0)"
							data-ui-sref="web.lams.changepassword">Change Password</a></li>
						<li><a href="javascript:void(0)" data-ng-click="doLogout()">Logout</a></li>
					</ul>
				</div>
			</li>
		</ul>
	</div>

	<div class="collapse navbar-collapse"
		data-ng-if="user.userType == Constant.UserType.LENDER.id">
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown"><a href="#" class="dropdown-toggle"
				data-toggle="dropdown"> <i class="material-icons">notifications</i>
					<span class="notification">0</span>
					<p class="hidden-lg hidden-md">Notifications</p>
			</a></li>
			<li class="nav-item dropdown" title="{{user.name}}">
				<div class="dropdown">
					<button class="btn btn-primary dropdown-toggle profile-btn"
						type="button" data-toggle="dropdown">
						<i class="material-icons">person</i> <span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="javascript:void(0)"
							data-ui-sref="web.lams.ldProfile">Profile</a></li>
						<li><a href="javascript:void(0)"
							data-ui-sref="web.lams.changepassword">Change Password</a></li>
						<li><a href="javascript:void(0)" data-ng-click="doLogout()">Logout</a></li>
					</ul>
				</div>
			</li>
		</ul>
	</div>

	<div class="collapse navbar-collapse"
		data-ng-if="user.userType == Constant.UserType.CHANNEL_PARTNER.id">
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown"><a href="#" class="dropdown-toggle"
				data-toggle="dropdown"> <i class="material-icons">notifications</i>
					<span class="notification">0</span>
					<p class="hidden-lg hidden-md">Notifications</p>
			</a></li>
			<li class="nav-item dropdown" title="{{user.name}}">
				<div class="dropdown">
					<button class="btn btn-primary dropdown-toggle profile-btn"
						type="button" data-toggle="dropdown">
						<i class="material-icons">person</i> <span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="javascript:void(0)"
							data-ui-sref="web.lams.cpProfile">Profile</a></li>
						<li><a href="javascript:void(0)"
							data-ui-sref="web.lams.changepassword">Change Password</a></li>
						<li><a href="javascript:void(0)" data-ng-click="doLogout()">Logout</a></li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
</div>