<style>
.sidebar .logo img {
	display: none;
}

.sidebar.active .logo img {
	display: inline-block;
}

.sidebar.active .logo .first-letter {
	display: none !important;
}

.sidebar .logo .first-letter {
	display: block;
}

.first-letter {
	margin: 0;
	font-size: 30px;
	color: red;
}

.logo {
	height: 90px;
	display: flex;
	align-items: center;
	justify-content: center;
}
</style>
<div class="logo text-center">
	<img src="assets/img/VfinanceSLogo.png" width="150">
	<h1 class="first-letter">V</h1>
</div>
<div class="sidebar-wrapper"
	data-ng-if="user.userType == Constant.UserType.BORROWER.id">
	<ul class="nav">
		<li data-ui-sref-active="active"><a href="javascript:void(0)"
			data-ui-sref="web.lams.brDashboard"> <i class="material-icons">dashboard</i>
				<p class="item-name">Dashboard</p>
		</a></li>
		<li data-ui-sref-active="active"><a href="javascript:void(0)" data-ui-sref="web.lams.applicationList"> <i class="material-icons">Applications</i>
		<p class="item-name">Applications</p></a></li>
		
		<li data-ng-repeat="coApplicant in coApplicantList" data-ui-sref-active="active">
		 <a href="javascript:void(0)" data-ng-if="coApplicant.nameOfCoapplicant != 'Create New CoApplicant'" data-ui-sref="web.lams.coApplicants({id : coApplicant.id, parentUserId : coApplicant.parentUserId})">
		 <i class="material-icons">{{ coApplicant.id }}</i> <p class="item-name">{{coApplicant.firstName}}</p></a>
		 </li>
	</ul>
</div>

<div class="sidebar-wrapper"
	data-ng-if="user.userType == Constant.UserType.PD_USER.id || user.userType == Constant.UserType.FCI_USER.id ">
	<ul class="nav">
		<li data-ui-sref-active="active"><a href="javascript:void(0)"
			data-ui-sref="web.lams.pdUserDashboard"> <i class="material-icons">dashboard</i>
				<p class="item-name">Dashboard</p>
		</a></li>
	</ul>
</div>

<div class="sidebar-wrapper"
	data-ng-if="user.userType == Constant.UserType.LENDER.id">
	<ul class="nav">
		<li data-ui-sref-active="active"><a href="javascript:void(0)"
			data-ui-sref="web.lams.products"> <i class="material-icons">dashboard</i>
				<p class="item-name">Dashboard</p>
		</a></li>
		<li data-ui-sref-active="active"><a href="javascript:void(0)"
			data-ui-sref="web.lams.Report"> <i
				class="material-icons">dashboard</i>
				<p>Reports</p>
		</a></li>
	</ul>
</div>


<div class="sidebar-wrapper"
	data-ng-if="user.userType == Constant.UserType.CHANNEL_PARTNER.id">
	<ul class="nav">
		<li data-ui-sref-active="active"><a href="javascript:void(0)"
			data-ui-sref="web.lams.cpDashboard"> <i class="material-icons">dashboard</i>
				<p class="item-name">Dashboard</p>
		</a></li>
		<li data-ui-sref-active="active"><a href="javascript:void(0)"
			data-ng-click="go()"> <i class="material-icons">Clients</i>
				<p class="item-name">Clients</p>
		</a></li>
		<li data-ui-sref-active="active"><a href="javascript:void(0)"
			data-ui-sref="web.lams.cpPayoutDashboard"> <i class="material-icons">dashboard</i>
				<p class="item-name">Payouts</p>
		</a></li>
		<li data-ui-sref-active="active"><a href="javascript:void(0)"
			data-ui-sref="web.lams.Report"> <i
				class="material-icons">dashboard</i>
				<p>Reports</p>
		</a></li>
	</ul>
</div>
<script>
	$('.sidebar').hover(function() {
		$('.sidebar').toggleClass('active');

	}, function() {
		$('.sidebar').toggleClass('active');

	})
</script>
