
<div class="col-md-12 col-sm-12 col-lg-12">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<h4 class="title">
					<b>Applications </b>
				</h4>
				<p class="category">
					<b>List of all applications-lender</b>
				</p>
			</div>
			<div class="col-md-12">

				<div class="panel panel-default">
					<div class="panel-heading">
						<b>Existing Loan - These are the Loans you are current having
							or you are currently paying EMIs.</b>
					</div>
					<div class="panel-body">

						<div>
							<table class="table table-striped custom-table">
								<thead class="text-primary">
									<tr>
										<th style="width: 5%">No.</th>
										<th>Application Type</th>
										<th>Outstanding Amount (Rs.)</th>
										<th>EMI (Rs.)</th>
										<th>Tenure (Month)</th>
										<th>Created Date</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									<tr
										data-ng-repeat="application in applicationList | filter : {loanTypeId : Constant.LoanType.EXISTING_LOAN}">
										<td>{{$index + 1}}</td>
										<td>{{application.applicationTypeName || Constant.NA }}</td>
										<td>{{application.loanAmount || 0 | currency : getCurrencySymbol()}}</td>
										<td>{{application.emi || '0' | currency : getCurrencySymbol()}}</td>
										<td>{{application.tenure || '0'}}</td>
										<td>{{application.createdDate | date : dateFormate}}</td>
										<td><button class="btn btn-primary btn-sm"
												data-ui-sref="web.lams.application({mode : Constant.mode.VIEW,appCode : application.applicationTypeCode, appId : application.id})">View</button>
											<button class="btn btn-infos btn-sm"
												data-ng-click="deleteApplication(application.id)">Delete</button>
										</td>
									</tr>
									<tr data-ng-if="applicationList.length > 0">
										<th colspan="2">Total</th>
										<th>{{totalExistingLoanAmount || 0 | currency : getCurrencySymbol()}}</th>
										<th>{{totalExistingLoanEMI || 0 | currency : getCurrencySymbol()}}</th>
										<td>-</td>
										<td>-</td>
										<td>-</td>
									</tr>
									<tr data-ng-if="existingAppCount < 1">
										<td colspan="9" class="alert alert-default text-center">No Application Available!</td>
									</tr>
								</tbody>
							</table>
						</div>

						<div class="row" ng-show="!showExistingApplication">
							<div class="col-md-8"></div>
							<div class="col-md-4 ">
								<button type="button" class="btn btn-primary pull-right"
									ng-click="hideDiv(Constant.LoanType.EXISTING_LOAN)">Add Existing Loan</button>
							</div>
						</div>
						<div class="panel panel-default" ng-show="showExistingApplication">

							<div class="panel-body">
								<form name="existingForm" novalidate>
									<div class="row">
										<div class="col-md-3">
											<div class="form-group">
												<label class="control-label">Application Type</label> <span
													class="text-danger">*</span></label> <select class="form-control"
													data-ng-model="existingObj.applicationTypeId"
													name="salutation" ng-required="true"
													data-ng-options="applicationTyp.id as applicationTyp.name for applicationTyp in applicationTypeList"
													required>
													<option value="">Select Application Type</option>
												</select>
											</div>
										</div>
										<div class="col-md-3">
											<div class="form-group">
												<label class="control-label">Outstanding Amount <span
													class="text-danger">*</span></label> <input type="number"
													class="form-control" data-ng-model="existingObj.loanAmount"
													name="loanAmount" ng-required="true">
											</div>
										</div>
										<div class="col-md-3">
											<div class="form-group">
												<label class="control-label">Tenure in month <span
													class="text-danger">*</span></label> <input type="number"
													class="form-control" data-ng-model="existingObj.tenure"
													name="tenure" ng-required="true">
											</div>
										</div>
										<div class="col-md-3">
											<div class="form-group">
												<label class="control-label">EMI <span
													class="text-danger">*</span></label> <input type="number"
													class="form-control" data-ng-model="existingObj.emi"
													name="emi" ng-required="true">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label">Planning to close
													before Disbursement <span class="text-danger">*</span>
												</label> &nbsp&nbsp<input type="radio" ng-value="true"
													data-ng-model="existingObj.closeBeforeDisbsmnt" name="emi">Yes&nbsp&nbsp
												<input type="radio" ng-value="false"
													data-ng-model="existingObjs.closeBeforeDisbsmnt" name="emi">
												No
											</div>
										</div>

									</div>
									<div class="row">
										<div class="col-md-8"></div>
										<div class="col-md-4 ">
											<button type="button" class="btn btn-default pull-right"
												ng-click="hideDiv(Constant.LoanType.EXISTING_LOAN)">Cancel</button>
											<button type="button" class="btn btn-primary pull-right"
												ng-click="existingLoanSave()">Submit</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading">
						<b>New Loan - This the loan that you want to apply through us.</b>
					</div>
					<div class="panel-body">
						<div>
							<table class="table table-striped custom-table">
								<thead class="text-primary">
									<tr>
										<th style="width: 5%">No.</th>
										<th>Application Type</th>
										<th>Lead Reference No</th>
										<th>Amount (Rs.)</th>
										<th>Tenure (Month)</th>
										<th>Created Date</th>
										<th>Loan Type</th>
										<th>Co Applicant</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									<tr
										ng-repeat="application in applicationList | orderBy : '-id' | filter : {loanTypeId : Constant.LoanType.CURRENT_LOAN}"
										class="{{application.status == acceptedStatus ? 'success' : ''}}">
										<td>{{$index + 1}}</td>
										<td>{{application.applicationTypeName || Constant.NA }}</td>
										<td>{{application.leadReferenceNo || 'NA'}}</td>
										<td>{{application.loanAmount | currency : getCurrencySymbol()}}</td>
										<td>{{application.tenure || '0'}}</td>
										<td>{{application.createdDate | date : dateFormate}}</td>
										<td>{{loanCategoryList[application.loanCategoryId].name || 'NA'}}</td>
										<td>{{application.coApplicantName || 'NA'}}</td>
										<td><button class="btn btn-primary btn-sm"
												data-ui-sref="web.lams.application({mode : Constant.mode.VIEW,appCode : application.applicationTypeCode, appId : application.id})"
												data-toggle="modal" data-target="#responseModel">View</button>
									</tr>

									<tr data-ng-if="curentAppCount < 1">
										<td colspan="9" class="alert alert-default text-center">No
											Application Available!</td>
									</tr>
								</tbody>
							</table>
						</div>

						<div class="row" ng-show="!showCurrentApplication">
							<div class="col-md-8"></div>
							<div class="col-md-4 ">
								<button type="button" class="btn btn-primary pull-right"
									ng-click="hideDiv(Constant.LoanType.CURRENT_LOAN)">Add New Loan</button>
							</div>
						</div>
						<div class="panel panel-default" ng-show="showCurrentApplication">

							<div class="panel-body">
								<form name="currentForm" novalidate>
									<div class="row">
										<div class="col-md-3">
											<div class="form-group">
												<label class="control-label">Application Type <span
													class="text-danger">*</span></label> <select class="form-control"
													data-ng-model="currentObj.applicationTypeId"
													name="salutation" ng-required="true"
													data-ng-options="applicationTyp.id as applicationTyp.name for applicationTyp in applicationTypes">
													<option value="">Select Application Type</option>
												</select>
											</div>
										</div>
										<div class="col-md-3">
											<div class="form-group">
												<label class="control-label">Loan Amount <span
													class="text-danger">*</span></label> <input type="number"
													class="form-control" data-ng-model="currentObj.loanAmount"
													name="loanAmount" ng-required="true">
											</div>
										</div>
										<div class="col-md-3">
											<div class="form-group">
												<label class="control-label">Tenure in month<span
													class="text-danger">*</span></label> <input type="number"
													class="form-control" data-ng-model="currentObj.tenure"
													name="tenure" ng-required="true">
											</div>
										</div>
										<div class="col-md-3" data-ng-if="currentObj.isFromCP">
											<div class="form-group">
												<label class="control-label">Tenure in month<span
													class="text-danger">*</span></label> <input type="number"
													class="form-control"
													data-ng-model="currentObj.leadReferenceNo" name="loanCode"
													disabled="disabled">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-3"
											ng-if="currentObj.applicationTypeId == Constant.ApplicationType.PERSONAL_LOAN">
											<div class="form-group">
												<label class="control-label">Reason for Personal
													Loan <span class="text-danger">*</span>
												</label> <input type="text" class="form-control" ng-required="true"
													data-ng-model="currentObj.reasonForPl" name="reasonForPl">
											</div>
										</div>
										<div class="col-md-3"
											ng-if="currentObj.applicationTypeId == Constant.ApplicationType.HOME_LOAN">
											<div class="form-group">
												<label class="control-label">Property Cost <span
													class="text-danger">*</span></label> <input type="number"
													class="form-control" ng-required="true"
													data-ng-model="currentObj.propertyCost" name="propertyCost">
											</div>
										</div>
										<div class="col-md-3"
											ng-if="currentObj.applicationTypeId == Constant.ApplicationType.HOME_LOAN
												|| currentObj.applicationTypeId == Constant.ApplicationType.LOAN_AGAINST_PROPERTY">
											<div class="form-group">
												<label class="control-label">Property Address <span
													class="text-danger">*</span></label> <input type="text"
													class="form-control" ng-required="true"
													data-ng-model="currentObj.propertyAddress"
													name="propertyAddress">
											</div>
										</div>
										<div class="col-md-3"
											ng-if="currentObj.applicationTypeId == Constant.ApplicationType.LOAN_AGAINST_PROPERTY">
											<div class="form-group">
												<label class="control-label">Property Market Value <span
													class="text-danger">*</span>
												</label> <input type="number" class="form-control"
													ng-required="true"
													data-ng-model="currentObj.propertyMarketValue"
													name="propertyMarketValue">
											</div>
										</div>
										<div class="col-md-3"
											ng-if="currentObj.applicationTypeId == Constant.ApplicationType.LOAN_AGAINST_PROPERTY">
											<div class="form-group">
												<label class="control-label">Reason For Lap</label> <input
													type="text" class="form-control"
													data-ng-model="currentObj.reasonForLap" name="reasonForLap">
											</div>
										</div>
										<div class="col-md-3"
											ng-if="currentObj.applicationTypeId == Constant.ApplicationType.CAR_LOAN">
											<div class="form-group">
												<label class="control-label">Car Cost <span
													class="text-danger">*</span></label> <input type="text"
													class="form-control" ng-required="true"
													data-ng-model="currentObj.carCost" name="carCost">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-3">
											<div class="form-group">
												<label class="control-label">Co-Applicant</label>
												<select class="form-control"
													data-ng-model="currentObj.coApplicantUserId"
													name="coApplicantUser" 
													ng-change="openModal(currentObj.coApplicantUserId);"
													data-ng-options="coApplicant.id as coApplicant.nameOfCoapplicant for coApplicant in coApplicantList">
													<option value="">Select Co-Applicant</option>
												</select>
											</div>
										</div>
										<div class="col-md-3">
											<div class="form-group">
												<label class="control-label">Loan Category</label>
												<select class="form-control"
													data-ng-model="currentObj.loanCategoryId"
													name="loanCategory" 
													data-ng-options="loanCat.id as loanCat.name for loanCat in loanCategoryList">
													<option value="">Select Loan Category</option>
												</select>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label class="control-label">Comments</label>
												<textarea class="form-control"
													data-ng-model="currentObj.brRemark" 
													name="remark"
													>
												</textarea>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label class="control-label">Promotional Code</label>
												<input type="text" class="form-control" data-ng-model="currentObj.promoCode" name="promoCode" id="promoCode" />
											</div>
										</div>
									</div>
									
									<div class="row">
										<div class="col-md-8"></div>
										<div class="col-md-4 ">
											<button type="button" class="btn btn-default pull-right"
												ng-click="hideDiv(Constant.LoanType.CURRENT_LOAN)">Cancel</button>
											<button type="button" class="btn btn-primary pull-right"
												ng-click="validatePromoTionalCode()">Submit</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				
				<div class="panel panel-default">
					<div class="panel-heading">
						<b>Pending Loan Processed by Channel Partner - You can approve to select anyone.</b>
					</div>
					<div class="panel-body">
						<div>
							<table class="table table-striped custom-table">
								<thead class="text-primary">
									<tr>
										<th style="width: 5%">No.</th>
										<th>Application Type</th>
										<th>Amount (Rs.)</th>
										<th>Created By</th>
										<th>Created Date</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									<tr
										ng-repeat="application in preApplicationList | orderBy : '-id' "
										class="{{application.status == acceptedStatus ? 'success' : ''}}">
										<td>{{$index + 1}}</td>
										<td>{{application.applicationTypeName || Constant.NA }}</td>
										<td>{{application.loanAmount | currency : getCurrencySymbol()}}</td>
										<td>{{application.channelPartner.name || Constant.NA}}</td>
										<td>{{application.createdDate | date : dateFormate}}</td>
										<td><button class="btn btn-primary btn-sm"
												data-ng-click="acceptChannelPartnerOffer(application)">Accept</button>
									</tr>

									<tr data-ng-if="curentAppCount < 1">
										<td colspan="9" class="alert alert-default text-center">No Pending Application For Approval Available!</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading">
						<b>Closed Loan - These are the loans taken earlier by you that
							are closed.</b>
					</div>
					<div class="panel-body">
						<div>
							<table class="table table-striped custom-table">
								<thead class="text-primary">
									<tr>
										<th style="width: 5%">No.</th>
										<th>Application Type</th>
										<th>Bank/Financial Institution Name</th>
										<th>Loan Account Number</th>
										<th>Amount (Rs.)</th>
										<th>Tenure (Month.)</th>
										<th>Created Date</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									<tr
										ng-repeat="application in applicationList | filter : {loanTypeId : Constant.LoanType.CLOSED_LOAN}">
										<td>{{$index + 1}}</td>
										<td>{{application.applicationTypeName || Constant.NA }}</td>
										<td>{{application.bankName || 'NA' }}</td>
										<td>{{application.bankAccNumber || 'NA' }}</td>
										<td>{{application.loanAmount | currency : getCurrencySymbol()}}</td>
										<td>{{application.tenure || '0'}}</td>
										<td>{{application.createdDate | date : dateFormate}}</td>
										<td><button class="btn btn-primary btn-sm"
												data-ui-sref="web.lams.application({mode : Constant.mode.VIEW,appCode : application.applicationTypeCode, appId : application.id})">View</button>
											<button class="btn btn-infos btn-sm"
												data-ng-click="deleteApplication(application.id)">Delete</button>
									</tr>
									<tr data-ng-if="closedAppCount < 1">
										<td colspan="8" class="alert alert-default text-center">No
											Application Available!</td>
									</tr>
								</tbody>
							</table>
						</div>

						<div class="row" ng-show="!showClosedApplication">
							<div class="col-md-8"></div>
							<div class="col-md-4 ">
								<button type="button" class="btn btn-primary pull-right"
									ng-click="hideDiv(Constant.LoanType.CLOSED_LOAN)">Add
									Closed Loan</button>
							</div>
						</div>
						<div class="panel panel-default" ng-show="showClosedApplication">

							<div class="panel-body">
								<form name="closedForm" novalidate>
									<div class="row">
										<div class="col-md-3">
											<div class="form-group">
												<label class="control-label">Application Type <span
													class="text-danger">*</span></label> <select class="form-control"
													data-ng-model="closedObj.applicationTypeId"
													name="salutation" ng-required="true"
													data-ng-options="applicationTyp.id as applicationTyp.name for applicationTyp in applicationTypeList">
													<option value="">Select Application Type</option>
												</select>
											</div>
										</div>
										<div class="col-md-3">
											<div class="form-group">
												<label class="control-label">Loan Amount <span
													class="text-danger">*</span></label> <input type="number"
													class="form-control" data-ng-model="closedObj.loanAmount"
													name="loanAmount" ng-required="true">
											</div>
										</div>
										<div class="col-md-3">
											<div class="form-group">
												<label class="control-label">Tenure in month <span
													class="text-danger">*</span></label> <input type="number"
													class="form-control" data-ng-model="closedObj.tenure"
													name="tenure" ng-required="true">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-3">
											<div class="form-group">
												<label class="control-label">Bank/Financial
													Institution Name </label> <input type="text" class="form-control"
													data-ng-model="closedObj.bankName" name="bankName"
													ng-required="false">
											</div>
										</div>
										<div class="col-md-3">
											<div class="form-group">
												<label class="control-label">Loan Account Number(if
													available)</label> <input type="number" class="form-control"
													data-ng-model="closedObj.bankAccNumber"
													name="loanAccountNumber" ng-required="false">
											</div>
										</div>
									</div>
									
									<div class="row">
										
									</div>

									<div class="row">
										<div class="col-md-8"></div>
										<div class="col-md-4 ">
											<button type="button" class="btn btn-default pull-right"
												ng-click="hideDiv(Constant.LoanType.CLOSED_LOAN)">Cancel</button>
											<button type="button" class="btn btn-primary pull-right"
												ng-click="closedLoanSave()">Submit</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>