
<div class="col-md-12 col-sm-12 col-lg-12">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<h4 class="title">
					<b>Application Details</b>
				</h4>
				<p class="pull-right">
					<!-- 							<b>Created Date: {{applicationDetails.createdDate | date : dateFormate}}</b> -->
				</p>
				<p class="category"
					data-ng-if="applicationDetails.loanTypeId != Constant.LoanType.EXISTING_LOAN && applicationDetails.loanTypeId != Constant.LoanType.CLOSED_LOAN">
					<b>{{applicationDetails.loanTypeName}} -
						{{applicationDetails.applicationTypeName}} -
						{{applicationDetails.leadReferenceNo}}</b>
				</p>

				<p class="category"
					data-ng-if="applicationDetails.loanTypeId == Constant.LoanType.EXISTING_LOAN || applicationDetails.loanTypeId == Constant.LoanType.CLOSED_LOAN">
					<b>{{applicationDetails.loanTypeName}} -
						{{applicationDetails.applicationTypeName}}</b>
				</p>
			</div>
			<div class="col-md-12">
				<div class="panel panel-default"
					data-ng-if="applicationDetails.loanTypeId != Constant.LoanType.EXISTING_LOAN && applicationDetails.loanTypeId != Constant.LoanType.CLOSED_LOAN">
					<div class="panel-heading">
						<b>Lender Responses</b> <select class="form-control"
							data-ng-model="status"
							data-ng-options="status as status for status in statuses"
							data-ng-change="getConnections(applicationId,status)">
						</select>
					</div>
					<div class="panel-body">
						<table class="table table-striped custom-table">
							<thead class="text-primary">
								<tr>
									<th style="width: 5%">No.</th>
									<th>Bank</th>
									<th>Loan Possible Amount</th>
									<th>ROI</th>
									<th>Tenure</th>
									<th>Processing Fees</th>
									<th>Terms and Conditions</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat-start="con in connections">
									<td>{{$index + 1}}</td>
									<td>{{con.applicationMappingBO.user.bank.name ||
										Constant.NA }}</td>
									<td>{{con.loanPossibleAmount || Constant.NA}}</td>
									<td>{{con.roi | number : 2 || Constant.NA}}</td>
									<td>{{con.tenure || Constant.NA}} Month</td>
									<td>{{con.processingFees || Constant.NA}}</td>
									<td>{{con.termAndCondition || Constant.NA}}</td>
									<td><button
											data-ng-show="con.status == Constant.Status.RESPONDED "
											class="btn btn-success btn-sm"
											data-ng-click="setLenderInfo(con,Constant.Status.ACCEPTED)"
											data-toggle="modal" data-target="#responseModel">Accept</button>
											
										<button
											data-ng-show="con.status == Constant.Status.SANCTIONED || con.status == Constant.Status.DISBURSED "
											class="btn btn-success btn-sm"
											data-ng-click="setLenderInfo(con,con.status)"
											data-toggle="modal" data-target="#responseModel">{{con.status}}</button>
										&nbsp;
										&nbsp;
										<button class="btn btn-info btn-sm"
											data-ng-if="con.status == Constant.Status.ACCEPTED || con.status == Constant.Status.FORMAPPLIED"
											data-ng-click="setLenderInfo(con,con.status)"
											data-toggle="modal" data-target="#responseModel">View
											Payment Info</button></td>
								</tr>

								<tr data-ng-repeat-end>
									<td colspan="8" data-ng-show="con.isView">
										<table class="table table-striped table-bordered">
											<thead class="text-primary">
												<tr>
													<th>Name</th>
													<th>Email</th>
													<th>Mobile</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>{{(!isEmpty(con.applicationMappingBO.user.firstName)
														&& !isEmpty(con.applicationMappingBO.user.lastName) ?
														user.firstName + ' ' +
														con.applicationMappingBO.user.lastName :
														con.applicationMappingBO.user.firstName || Constant.NA )}}</td>
													<td>{{con.applicationMappingBO.user.email ||
														Constant.NA }}</td>
													<td>{{con.applicationMappingBO.user.mobile ||
														Constant.NA}}</td>
												</tr>
											</tbody>
										</table>

									</td>
								</tr>
								<tr data-ng-if="isEmpty(connections)">
									<td colspan="8" class="alert alert-default text-center">No
										Pending Response Yet!</td>
								</tr>
							</tbody>
						</table>

					</div>
				</div>


			</div>
			<div class="col-md-12">
				<form name="currentForm" novalidate>
					<div class="row">
						<div class="col-md-3">
							<div class="form-group">
								<label class="control-label">Loan Amount</label> <input
									type="number" class="form-control"
									data-ng-disabled="editApplicationForm"
									data-ng-model="applicationDetails.loanAmount" name="loanAmount"
									data-ng-required="true">
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label class="control-label">Tenure in Month</label> <input
									type="number" class="form-control"
									data-ng-disabled="editApplicationForm"
									data-ng-model="applicationDetails.tenure" name="tenure"
									data-ng-required="true">
							</div>
						</div>
						<div class="col-md-3"
							ng-if="applicationDetails.loanTypeId == Constant.LoanType.EXISTING_LOAN">
							<div class="form-group">
								<label class="control-label">EMI <span
									class="text-danger">*</span></label> <input type="number"
									data-ng-disabled="editApplicationForm" class="form-control"
									data-ng-model="applicationDetails.emi" name="emi"
									data-ng-required="true">
							</div>
						</div>

						<div class="col-md-3"
							ng-if="applicationDetails.loanTypeId == Constant.LoanType.EXISTING_LOAN">
							<div class="form-group">
								<label class="control-label">Planning to close before
									Disbursement <span class="text-danger">*</span>
								</label> <br>
								<input type="radio" ng-value="true"
									data-ng-disabled="editApplicationForm"
									data-ng-model="applicationDetails.closeBeforeDisbsmnt"
									name="emi">Yes&nbsp;&nbsp; <input type="radio"
									data-ng-disabled="editApplicationForm" ng-value="false"
									data-ng-model="applicationDetails.closeBeforeDisbsmnt"
									name="emi"> No
							</div>
						</div>

						<div class="col-md-3"
							ng-if="applicationDetails.loanTypeId == Constant.LoanType.CLOSED_LOAN">
							<div class="form-group">
								<label class="control-label">Bank/Financial Institution
									Name </label> <input type="text" class="form-control"
									data-ng-model="applicationDetails.bankName" name="bankName"
									data-ng-disabled="editApplicationForm" ng-required="false">
							</div>
						</div>
						<div class="col-md-3"
							ng-if="applicationDetails.loanTypeId == Constant.LoanType.CLOSED_LOAN">
							<div class="form-group">
								<label class="control-label">Loan Account Number(if
									available)</label> <input type="number" class="form-control"
									data-ng-model="applicationDetails.bankAccNumber"
									data-ng-disabled="editApplicationForm" name="loanAccountNumber"
									ng-required="false">
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-3"
							ng-if="applicationDetails.applicationTypeId == Constant.ApplicationType.PERSONAL_LOAN && (applicationDetails.loanTypeId != Constant.LoanType.EXISTING_LOAN && applicationDetails.loanTypeId != Constant.LoanType.CLOSED_LOAN)">
							<div class="form-group">
								<label class="control-label">Reason for Personal Loan</label> <input
									type="text" class="form-control" data-ng-required="true"
									data-ng-disabled="editApplicationForm"
									data-ng-model="applicationDetails.reasonForPl"
									name="reasonForPl">
							</div>
						</div>
						<div class="col-md-3"
							ng-if="applicationDetails.applicationTypeId == Constant.ApplicationType.HOME_LOAN && (applicationDetails.loanTypeId != Constant.LoanType.EXISTING_LOAN && applicationDetails.loanTypeId != Constant.LoanType.CLOSED_LOAN)">
							<div class="form-group">
								<label class="control-label">Property Cost</label> <input
									type="number" class="form-control" data-ng-required="true"
									data-ng-disabled="editApplicationForm"
									data-ng-model="applicationDetails.propertyCost"
									name="propertyCost">
							</div>
						</div>
						<div class="col-md-3"
							data-ng-if="(applicationDetails.applicationTypeId == Constant.ApplicationType.HOME_LOAN
												|| applicationDetails.applicationTypeId == Constant.ApplicationType.LOAN_AGAINST_PROPERTY)  && (applicationDetails.loanTypeId != Constant.LoanType.EXISTING_LOAN && applicationDetails.loanTypeId != Constant.LoanType.CLOSED_LOAN)">
							<div class="form-group">
								<label class="control-label">Property Address</label> <input
									type="text" class="form-control" data-ng-required="true"
									data-ng-disabled="editApplicationForm"
									data-ng-model="applicationDetails.propertyAddress"
									name="propertyAddress">
							</div>
						</div>
						<div class="col-md-3"
							ng-if="applicationDetails.applicationTypeId == Constant.ApplicationType.LOAN_AGAINST_PROPERTY  && (applicationDetails.loanTypeId != Constant.LoanType.EXISTING_LOAN && applicationDetails.loanTypeId != Constant.LoanType.CLOSED_LOAN)">
							<div class="form-group">
								<label class="control-label">Property Market Value</label> <input
									type="number" class="form-control" data-ng-required="true"
									data-ng-disabled="editApplicationForm"
									data-ng-model="applicationDetails.propertyMarketValue"
									name="propertyMarketValue">
							</div>
						</div>
						<div class="col-md-3"
							ng-if="applicationDetails.applicationTypeId == Constant.ApplicationType.CAR_LOAN  && (applicationDetails.loanTypeId != Constant.LoanType.EXISTING_LOAN && applicationDetails.loanTypeId != Constant.LoanType.CLOSED_LOAN)">
							<div class="form-group">
								<label class="control-label">Car Cost</label> <input type="text"
									class="form-control" data-ng-required="true"
									data-ng-disabled="editApplicationForm"
									data-ng-model="applicationDetails.carCost" name="carCost">
							</div>
						</div>

						<div class="col-md-3"
							ng-if="applicationDetails.applicationTypeId == Constant.ApplicationType.LOAN_AGAINST_PROPERTY  && (applicationDetails.loanTypeId != Constant.LoanType.EXISTING_LOAN && applicationDetails.loanTypeId != Constant.LoanType.CLOSED_LOAN)">
							<div class="form-group">
								<label class="control-label">Reason For Lap</label> <input
									type="text" class="form-control"
									data-ng-disabled="editApplicationForm"
									data-ng-model="applicationDetails.reasonForLap"
									name="reasonForLap">
							</div>
						</div>
					</div>
					
					<div class="row" ng-if="applicationDetails.loanTypeId == Constant.LoanType.CURRENT_LOAN ">
						<div class="col-md-3">
							<div class="form-group">
								<label class="control-label">Co-Applicant</label>
								<select class="form-control"
									data-ng-model="applicationDetails.coApplicantId"
									name="coApplicantUser" 
									data-ng-disabled="editApplicationForm"
									ng-change="openModal(applicationDetails.coApplicantId);"
									data-ng-options="coApplicant.id as coApplicant.nameOfCoapplicant for coApplicant in coApplicantList">
									<option value="">Select Co-Applicant</option>
								</select>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label class="control-label">Loan Category</label>
								<select class="form-control"
									data-ng-model="applicationDetails.loanCategoryId"
									name="loanCategory" 
									data-ng-disabled="editApplicationForm"
									data-ng-options="loanCat.id as loanCat.name for loanCat in loanCategoryList">
									<option value="">Select Loan Category</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row" ng-if="applicationDetails.loanTypeId == Constant.LoanType.CURRENT_LOAN ">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">Comments</label>
								<textarea class="form-control" data-ng-disabled="editApplicationForm" data-ng-model="applicationDetails.brRemark" name="remark" > </textarea>
							</div>
						</div>
					</div>
									
					<div class="row" ng-if="applicationDetails.loanTypeId != Constant.LoanType.EXISTING_LOAN  && applicationDetails.loanTypeId != Constant.LoanType.CLOSED_LOAN">
						<div class="col-md-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									<b>&nbsp&nbsp&nbspFile Upload - {{applicationDetails.firstName}}&nbsp;{{applicationDetails.lastName}}</b>
								</div>
								<div class="panel-body">
									<div class="row" data-ng-repeat="documents in documentList">
										<div class="col-md-3">
											<label class="btn btn-default" style="white-space: pre-line;">
												<b>{{documents.documentMstrName}} <span
													data-ng-if="documents.documentMstrId == Constant.documentType.PAN_CARD
																			|| documents.documentMstrId == Constant.documentType.AADHAR_CARD 
																			|| documents.documentMstrId == Constant.documentType.LAST_3_MONTH_SALARY_SLIP 
																			|| documents.documentMstrId == Constant.documentType.LAST_6_MONTHS_BANK_ACCOUNT_STATEMENT
																			|| documents.documentMstrId == Constant.documentType.CORPORATE_BANK_ACCOUNT_STATEMENT
																			|| documents.documentMstrId == Constant.documentType.INDIVIDUAL_ITR_SET_YEAR1 
																			|| documents.documentMstrId == Constant.documentType.INDIVIDUAL_ITR_SET_YEAR2 
																			|| documents.documentMstrId == Constant.documentType.INDIVIDUAL_ITR_SET_YEAR3"
													class="text-danger">*</span>
											</b> <input type="file" title="Upload size limit 5 MB"
												upload-files id="{{documents.documentMstrId}}"
												data-ng-disabled="editApplicationForm"
												onchange="angular.element(this).scope().uploadAppFile(this);">
											</label>
										</div>
										<div class="col-md-2"
											data-ng-repeat="doc in documents.documentResponseList">
											<div class="input-group">
												<input type="text" class="form-control"
													data-ng-model="doc.originalName" disabled> <span
													class="input-group-btn">
													<button class="btn btn-sm btn-default" type="button"
														data-ng-disabled="editApplicationForm"
														ng-click="inActiveDocument(doc.documentMappingId,documents.documentMstrId,documents.documentResponseList,$index)">x</button>
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<!-- CoApplicant Documents -->
					<div class="row" data-ng-if="!isObjectEmpty(coApplicant)">
						<div class="col-md-12" data-ng-if="(applicationDetails.loanTypeId == Constant.LoanType.CURRENT_LOAN  && applicationDetails.loanTypeId != Constant.LoanType.CLOSED_LOAN)">
							<div class="panel panel-default" >
								<div class="panel-heading">
									<b>&nbsp&nbsp&nbspFile Upload For Coapplicant - {{coApplicant[0].firstName}}&nbsp;{{coApplicant[0].lastName}}</b>
								</div>
								<div class="panel-body">
									<div class="row" data-ng-repeat="documents in coApplicantDocumentList">
										<div class="col-md-3">
											<label class="btn btn-default" style="white-space: pre-line;">
												<b>{{documents.documentMstrName}} <span
													data-ng-if="documents.documentMstrId == Constant.documentType.PAN_CARD
																			|| documents.documentMstrId == Constant.documentType.AADHAR_CARD 
																			|| documents.documentMstrId == Constant.documentType.LAST_3_MONTH_SALARY_SLIP 
																			|| documents.documentMstrId == Constant.documentType.LAST_6_MONTHS_BANK_ACCOUNT_STATEMENT
																			|| documents.documentMstrId == Constant.documentType.CORPORATE_BANK_ACCOUNT_STATEMENT
																			|| documents.documentMstrId == Constant.documentType.INDIVIDUAL_ITR_SET_YEAR1 
																			|| documents.documentMstrId == Constant.documentType.INDIVIDUAL_ITR_SET_YEAR2 
																			|| documents.documentMstrId == Constant.documentType.INDIVIDUAL_ITR_SET_YEAR3"
													class="text-danger">*</span>
											</b> <input type="file" title="Upload size limit 5 MB"
												upload-files id="{{documents.documentMstrId}}"
												data-ng-disabled="editApplicationForm"
												onchange="angular.element(this).scope().uploadBrCoApplicantAppFile(this);">
											</label>
										</div>
										<div class="col-md-2"
											data-ng-repeat="doc in documents.documentResponseList">
											<div class="input-group">
												<input type="text" class="form-control"
													data-ng-model="doc.originalName" disabled> <span
													class="input-group-btn">
													<button class="btn btn-sm btn-default" type="button"
														data-ng-disabled="editApplicationForm"
														ng-click="inActiveDocument(doc.documentMappingId,documents.documentMstrId,documents.documentResponseList,$index)">x</button>
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<!-- Processing documents sn -->
					<div class="row" data-ng-if="processingDocumentList[0].documentResponseList.length > 0">
						<div class="col-md-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									<b>Loan Processing File Upload</b>
								</div>
								
								<!-- Submit form from Admin view only -->
								<div class="panel-body">
									<div class="panel panel-default" data-ng-if="processingDocumentList[0].documentResponseList.length > 0"
									 data-ng-repeat="document in processingDocumentList[0].documentResponseList">
										&nbsp;&nbsp;&nbsp;<b>{{document.documentMstrName}}</b>
										<div class="panel-body">
											<div class="col-md-2" data-ng-repeat="doc in processingDocumentList[0].documentResponseList" >
												<div><a target="_blank" href="{{doc.filePath}}" download  class="btn btn-default"> {{doc.originalName}}</a> </div>
											</div>
											<div class="col-md-12">
												<div class="text-center" ng-if="processingDocumentList[0].documentResponseList.length < 1">
													<b>No Documents Attached</b>
												</div>
											</div>
										</div>
									</div>
									
									<!-- Sactioned Letters -->
									<div class="panel-body" data-ng-if="processingDocumentList[0].documentResponseList.length > 0" >
										<div class="panel panel-default">
											<b>{{processingDocumentList[1].documentMstrName}}</b>
											<div class="panel-body">
												<div class="col-md-3">
													<label class="btn btn-default" style="white-space: pre-line;">
														<b>{{processSactionedFormDocuments.documentMstrName}} <span
															class="text-danger">*</span>
													</b> <input type="file" title="Upload size limit 5 MB"
														upload-files
														id="{{processSactionedFormDocuments.documentMstrId}}"
														data-ng-disabled="processSactionedFormDocuments.documentResponseList.length == 1"
														onchange="angular.element(this).scope().uploadAppFile(this);">
													</label>
												</div>
												
												<div class="col-md-2"
													data-ng-repeat="doc in processSactionedFormDocuments.documentResponseList">
													<div class="input-group">
														<input type="text" class="form-control"
															data-ng-model="doc.originalName" disabled> <span
															class="input-group-btn">
															<button class="btn btn-sm btn-default" type="button"
																
																ng-click="inActiveDocument(doc.documentMappingId,documents.documentMstrId,documents.documentResponseList,$index)">x</button>
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								
									<!-- Disbursment document -->
									<div class="panel-body" data-ng-if="processingDocumentList[1].documentResponseList.length > 0">
										<div class="panel panel-default">
											<b>{{processingDocumentList[2].documentMstrName}}</b>
											<div class="panel-body">
												<div class="col-md-3">
													<label class="btn btn-default" style="white-space: pre-line;"> <b>{{processDisbursedDocumentDocuments.documentMstrName}}
													<span class="text-danger">*</span>
													</b> <input type="file" title="Upload size limit 5 MB"
														upload-files id="{{processDisbursedDocumentDocuments.documentMstrId}}"
														data-ng-disabled="processDisbursedDocumentDocuments.documentResponseList.length == 1"
														onchange="angular.element(this).scope().uploadAppFile(this);">
													</label>
												</div>
												
												<div class="col-md-2"
													data-ng-repeat="doc in processDisbursedDocumentDocuments.documentResponseList">
													<div class="input-group">
														<input type="text" class="form-control"
															data-ng-model="doc.originalName" disabled> <span
															class="input-group-btn">
															<button class="btn btn-sm btn-default" type="button"
																data-ng-disabled="!formSubmissionFileEdit"
																ng-click="inActiveDocument(doc.documentMappingId,documents.documentMstrId,documents.documentResponseList,$index)">x</button>
														</span>
													</div>
												</div>
											
												<div class="col-md-9">
													<div class="row">
														<div class="col-md-4" data-ng-if="processingDocumentList[0].documentResponseList.length && processingDocumentList[1].documentResponseList.length">
															<div class="form-group">
																<label data-ng-if="applicationDetails.status != Constant.Status.DISBURSED" class="control-label">Actual Disbursment Date<span class="text-danger">*</span></label> 
																	<input ng-focus="open()"
																	data-ng-if="applicationDetails.status != Constant.Status.DISBURSED"
																	type="text" name="disbursmentDate" class="form-control" id="disbursmentDate"
																	uib-datepicker-popup="dd/MM/yyyy"
																	data-ng-model="disbursmentDate" is-open="popup.opened"
																	ng-required="true" close-text="Close" />
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Processing documents en -->
					<div class="row">
						<div class="col-md-8"></div>
						<div class="col-md-4 ">
							<button type="button"
								ng-if="applicationDetails.loanTypeId != Constant.LoanType.EXISTING_LOAN  && applicationDetails.loanTypeId != Constant.LoanType.CLOSED_LOAN && !applicationDetails.isLoanDetailsLock"
								class="btn btn-primary pull-right"
								data-ng-click="saveLoanDetails(2)">Submit</button>
							<button type="button" class="btn btn-primary pull-right"
								data-ng-show="editApplicationForm && (!applicationDetails.isLoanDetailsLock || isEmpty(applicationDetails.isLoanDetailsLock))"
								data-ng-click="editApplicationForm =!editApplicationForm">Edit</button>

							<button type="button" data-ng-show="!editApplicationForm"
								class="btn btn-default pull-right"
								data-ng-click="editApplicationForm =!editApplicationForm">Cancel</button>
							<button type="button" data-ng-show="!editApplicationForm"
								class="btn btn-primary pull-right"
								data-ng-click="saveLoanDetails(1)">Save</button>
								
							<button type="button" data-ng-if="(applicationDetails.status == Constant.Status.SANCTIONED  || applicationDetails.status == Constant.Status.FORMAPPLIED)"  class="btn btn-primary" data-dismiss="modal" data-ng-click="autoUpdateStatus()">Update</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- Respond Modal -->
<div class="modal fade" id="responseModel" role="dialog">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Please Pay the Processing Fees
					Mentioned by the Selected Lender to the Following Bank Account</h4>
			</div>
			<div class="modal-body">
				{{curSelectedLender.application}}
				<form name="responseForm" novalidate>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label><b>Bank Account Name :</b> FINEAPPLY CONSULTANCY
									SOLUTIONS PRIVATE LIMITED</label>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label><b>Bank Name :</b> HDFC BANK</label>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label><b>Account No :</b> 50200030744111</label>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label><b>IFSC :</b> HDFC0000227</label>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label><b>State :</b> Maharashtra </label>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label><b>City :</b> Mumbai </label>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label><b>Branch :</b> VILE PARLE EAST </label>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label><b>Amount :</b>
									Rs.{{curSelectedLender.processingFees}} </label>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer"
				data-ng-if="curSelectedLender.con.status == Constant.Status.RESPONDED">
				<div class="col-md-12">
					<button type="button" class="btn btn-primary"
						data-ng-click="updateStatus(curSelectedLender.con, curSelectedLender.status)"
						data-dismiss="modal">Submit</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>
