<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<div class="card" style="width:100%">
				<div class="card-header" data-background-color="purple">
					<h4 class="title">Reports</h4>
					<p class="category">Analyze</p>
				</div>
				<br />
				<div class="col-md-12 col-sm-12">
					<div class="panel panel-default">
						<div class="panel-body">
							<span>Reports Download<span class="badge"></span></span>
							<div>
								<a href="{{reportDocumentList[0].documentResponseList[0].filePath}}" download
									class="btn btn-default"> {{reportDocumentList[0].documentResponseList[0].originalName}}</a>
							</div>
						</div>

						<div class="card-content table-responsive">
							<table ng-table="userTable" class="table">
								<thead class="text-primary">
									<tr>
										<th>Borrowers Full Name</th>
										<th>Loan Reference Number</th>
										<th>Loan Type</th>
										<th>Loan Amount</th>
										<th>Loan Status</th>
										<th>Lenders Responded</th>
										<th>Lenders Responded Count</th>
										<th>Lender Selected</th>
										<th>Loan Amount Applied</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="reportRow in reportDataList">
				                        <td>{{reportRow.brFullName}}</td>
				                        <td>{{reportRow.loanReferenceNumber || Constant.NA}}</td>
				                        <td>{{reportRow.loanType || Constant.NA}}</td>
				                        <td>{{reportRow.loanAmount || Constant.NA}}</td>
				                        <td>{{reportRow.brFullName}}</td>
				                        <td>{{reportRow.loanStatus || Constant.NA}}</td>
				                        <td>{{reportRow.lenderResponded || Constant.NA}}</td>
				                        <td>{{reportRow.brSelectedLender || Constant.NA}}</td>
				                        <td>{{reportRow.brAppliedForLoanAmt || Constant.NA}}</td>
				                    </tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>