<style>
.btn-default {
    background-color: #fbf9f9 !important;
    color: #000 !important;
}
</style>
<div class="container-fluid">
	<div class="row">
	<div class="col-md-12">
		<h4 class="title">
						<b>{{userData.userTypName}} Profile </b>
					</h4>
					<p class="category">
						<b>Update Additional Details in Profile</b>
					</p>
	</div>
		<div class="col-md-12">
			<form name="userForm" data-ng-submit="updateUserDetail()"
						novalidate>
						<div class="row">
						
							<div class="col-md-9">
								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<label class="control-label">Salutation <span
												class="text-danger">*</span></label> <select class="form-control"
												data-ng-model="userData.salutation" name="salutation"
												data-ng-options="salu.id as salu.name for salu in salutations"
												required>
												<option value="">Select Salutation</option>
											</select>
										</div>
									</div>

									<div class="col-md-4">
										<div class="form-group">
											<label class="control-label">First Name <span
												class="text-danger">*</span>
											</label> <input type="text" class="form-control" name="firstName"
												data-ng-model="userData.firstName" required>
										</div>
									</div>

									<div class="col-md-4">
										<div class="form-group">
											<label class="control-label">Middle Name</label> <input
												type="text" class="form-control" name="middleName"
												data-ng-model="userData.middleName">
										</div>
									</div>


								</div>
								<div class="row">

									<div class="col-md-4">
										<div class="form-group">
											<label class="control-label">Last Name <span
												class="text-danger">*</span></label> <input type="text"
												class="form-control" name="lastName"
												data-ng-model="userData.lastName" required>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label class="control-label">Gender</label><br> <br>
											<div data-ng-repeat="gender in genders" style="float: left;">
												<label><input type="radio" name="rdoGender"
													data-ng-model="userData.gender"
													data-ng-value="{{gender.id}}">&nbsp;{{gender.value}}&nbsp;</label>
											</div>
										</div>
									</div>

									<div class="col-md-4">
										<div class="form-group">
											<label class="control-label">Date Of Birth <span
												class="text-danger">*</span></label> 
												<input ng-focus="open()"
												type="text" name="birthDate" class="form-control"
												uib-datepicker-popup="dd/MM/yyyy"
												data-ng-model="userData.birthDate" is-open="popup.opened"
												ng-required="true" close-text="Close" />
										</div>
									</div>


								</div>

								<div class="row">

									<div class="col-md-4">
										<div class="form-group">
											<label class="control-label">PAN Number<span
												class="text-danger">*</span></label> <input type="text"
												class="form-control" name="panCard"
												ng-pattern="/^[a-zA-Z]{5}[0-9]{4}[a-zA-Z]{1}$/"
												data-ng-model="userData.panCard" required> <span
												class="text-danger" style="font-size: 12px;"
												ng-show="userForm.panCard.$error.pattern">Invalid PAN
												Number</span>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label class="control-label">Aadhaar Card Number <span
												class="text-danger">*</span></label> <input type="text"
												class="form-control" name="aadharCardNo"
												ng-pattern="/^[0-9]{12,12}$/"
												data-ng-model="userData.aadharCardNo" required> <span
												class="text-danger" style="font-size: 12px;"
												ng-show="userForm.aadharCardNo.$error.pattern">Invalid
												Aadhar Number</span>
										</div>
									</div>

									<div class="col-md-4">
										<div class="form-group">
											<label class="control-label">Education Qualification</label>
											<input type="text" class="form-control"
												name="eduQualification"
												data-ng-model="userData.eduQualification">
										</div>
									</div>


								</div>

								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<label class="control-label">Contact Number <span
												class="text-danger">*</span></label> <input type="text"
												class="form-control" name="contactNumber"
												ng-pattern="/^[0-9]{10,10}$/"
												data-ng-model="userData.contactNumber" required> <span
												class="text-danger" style="font-size: 12px;"
												ng-show="userForm.contactNumber.$error.pattern">10
												Digits Allowed</span>
										</div>
									</div>

								</div>
							</div>
							<div class="col-md-3">
								<div class="row">
								<div class="col-md-12 text-center">
									<img src="{{documentResponse.filePath}}"
										onerror="this.onerror=null; this.src='assets/img/default-pic.jpg';"
										style="height: 200px; width: 200px" class="img-rounded"
										alt="Cinque Terre"> 
								</div>
								<div class="col-md-12 text-center">
									<label for="9" class="btn btn-default">Upload</label>
										<input type="file"
										style="padding-left: 83px !important;display:none" 
										title="Upload size limit 2 MB" upload-files id="9"
										onchange="angular.element(this).scope().uploadAppFile(this);">
								</div>
									
										
								</div>


							</div>
						</div>

						<br />
						<div class="row">
							<div class="col-md-6">
								<label style="color: #555;"><b>Communication Address</b></label>
								<div class="form-group">
									<label class="control-label">Premises No And Building
										Name <span class="text-danger">*</span>
									</label> <input type="text" class="form-control"
										data-ng-model="userData.communicationAdd.premisesAndBuildingName"
										required>
								</div>
							</div>

							<!-- <div class="col-md-3">
								<label style="color: #555;">&nbsp;&nbsp;</label>
								<div class="form-group">
									<label class="control-label">Building Name</label> <input
										type="text" class="form-control"
										data-ng-model="userData.communicationAdd.buildingName">
								</div>
							</div> -->

							<div class="col-md-3">
								<label style="color: #555;">&nbsp;&nbsp;</label>
								<div class="form-group">
									<label class="control-label">Street Name <span
										class="text-danger">*</span></label> <input type="text"
										class="form-control"
										data-ng-model="userData.communicationAdd.streetName" required>
								</div>
							</div>
							<div class="col-md-3">
								<label style="color: #555;">&nbsp;&nbsp;</label>
								<div class="form-group">
									<label class="control-label">Land Mark <span
										class="text-danger">*</span></label> <input type="text"
										class="form-control"
										data-ng-model="userData.communicationAdd.landMark" required>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
									<label class="control-label">Country <span
										class="text-danger">*</span></label> <select class="form-control"
										data-ng-model="userData.communicationAdd.country.id"
										data-ng-options="coun.id as coun.name for coun in countries"
										data-ng-change="getStates(userData.communicationAdd.country.id,Constant.AddressType.COMMUNICATION)"
										required>
										<option value="">Select Country</option>
									</select>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label class="control-label">State <span
										class="text-danger">*</span></label> <select class="form-control"
										data-ng-model="userData.communicationAdd.state.id"
										data-ng-options="state.id as state.name for state in commStates"
										data-ng-change="getCities(userData.communicationAdd.state.id,Constant.AddressType.COMMUNICATION)"
										required>
										<option value="">Select State</option>
									</select>
								</div>
							</div>

							<div class="col-md-3">
								<div class="form-group">
									<label class="control-label">City <span
										class="text-danger">*</span></label> <select class="form-control"
										data-ng-model="userData.communicationAdd.city.id"
										data-ng-options="city.id as city.name for city in commCities"
										required>
										<option value="">Select City</option>
									</select>
								</div>
							</div>

							<div class="col-md-3">
								<div class="form-group">
									<label class="control-label">Pincode <span
										class="text-danger">*</span></label> <input type="text"
										class="form-control"
										data-ng-model="userData.communicationAdd.pincode" required>
								</div>
							</div>
						</div>

						<br />
						<div class="row ">
							<div class="col-md-7">
								<div class="text-center">
									<label style="color: #555;">&nbsp;&nbsp;</label> <span
										class="pull-right"> <input type="checkbox"
										ng-model="userData.isSameUsAddress"
										ng-change="sameAddress(userData.isSameUsAddress)">
										&nbsp;<label>Same as Communication Address</label>
									</span>

								</div>
							</div>

						</div>


						<div class="row">

							<div class="col-md-6">
								<label style="color: #555;"><b>Permanent Address</b></label>
								<div class="form-group">
									<label class="control-label">Premises No And Building
										Name<span class="text-danger">*</span>
									</label> <input type="text" class="form-control"
										data-ng-model="userData.permanentAdd.premisesAndBuildingName"
										required>
								</div>
							</div>

							<!-- <div class="col-md-3">
								<label style="color: #555;">&nbsp;&nbsp;</label>
								<div class="form-group">
									<label class="control-label">Building Name <span
										class="text-danger">*</span></label> <input
										type="text" class="form-control"
										data-ng-model="userData.permanentAdd.buildingName" required>
								</div>
							</div> -->

							<div class="col-md-3">
								<label style="color: #555;">&nbsp;&nbsp;</label>
								<div class="form-group">
									<label class="control-label">Street Name <span
										class="text-danger">*</span></label> <input type="text"
										class="form-control"
										data-ng-model="userData.permanentAdd.streetName" required>
								</div>
							</div>
							<div class="col-md-3">
								<label style="color: #555;">&nbsp;&nbsp;</label>
								<div class="form-group">
									<label class="control-label">Land Mark <span
										class="text-danger">*</span></label> <input type="text"
										class="form-control"
										data-ng-model="userData.permanentAdd.landMark" required>
								</div>
							</div>


							<!-- <div class="col-md-3">
								<label style="color: #555;"><b>Permanent Address</b></label>
								<div class="form-group">
									<label class="control-label">Premises No <span
										class="text-danger">*</span>
									</label> <input type="text" class="form-control"
										data-ng-model="userData.permanentAdd.streetName" required>
								</div>
							</div>
							<div class="col-md-6">
								<label style="color: #555;">&nbsp;&nbsp;</label>
								<div class="form-group">
									<label class="control-label">Land Mark <span
										class="text-danger">*</span></label> <input type="text"
										class="form-control"
										data-ng-model="userData.permanentAdd.landMark" required>
								</div>
							</div> -->
						</div>

						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
									<label class="control-label">Country <span
										class="text-danger">*</span></label> <select class="form-control"
										data-ng-model="userData.permanentAdd.country.id"
										data-ng-options="coun.id as coun.name for coun in countries"
										data-ng-change="getStates(userData.permanentAdd.country.id,Constant.AddressType.PERMANENT)"
										required>
										<option value="">Select Country</option>
									</select>
								</div>
							</div>

							<div class="col-md-3">
								<div class="form-group">
									<label class="control-label">State <span
										class="text-danger">*</span></label> <select class="form-control"
										data-ng-model="userData.permanentAdd.state.id"
										data-ng-options="state.id as state.name for state in permStates"
										data-ng-change="getCities(userData.permanentAdd.state.id,Constant.AddressType.PERMANENT)"
										required>
										<option value="">Select State</option>
									</select>
								</div>
							</div>

							<div class="col-md-3">
								<div class="form-group">
									<label class="control-label">City <span
										class="text-danger">*</span>
									</label> <select class="form-control"
										data-ng-model="userData.permanentAdd.city.id"
										data-ng-options="city.id as city.name for city in permCities"
										required>
										<option value="">Select City</option>
									</select>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label class="control-label">Pincode <span
										class="text-danger">*</span></label> <input type="text"
										class="form-control"
										data-ng-model="userData.permanentAdd.pincode" required>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-4">
								<div class="form-group">
									<label class="control-label">Employment <span
										class="text-danger">*</span></label> <select class="form-control"
										ng-model="userData.employmentType"
										ng-options="employment.id as employment.name for employment in employmentType"
										required>
										<option value="">Select Employment</option>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3" ng-if="userData.employmentType == 1">
								<div class="form-group">
									<label class="control-label">Employer Name <span
										class="text-danger">*</span></label> <input type="text"
										class="form-control" data-ng-model="userData.employerName"
										required>
								</div>
							</div>

							<div class="col-md-3" ng-if="userData.employmentType == 1">
								<div class="form-group">
									<label class="control-label">Gross Monthly Income in
										Rs. <span class="text-danger">*</span>
									</label> <input type="text" class="form-control"
										data-ng-model="userData.grossMonthlyIncome" required>
								</div>
							</div>

							<div class="col-md-3" ng-if="userData.employmentType == 1">
								<div class="form-group">
									<label class="control-label">Total Work Experience</label> <input
										type="text" class="form-control"
										data-ng-model="userData.totalWorkExperience">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3" ng-if="userData.employmentType == 2">
								<div class="form-group">
									<label class="control-label">Type <span
										class="text-danger">*</span></label> <select class="form-control"
										ng-model="userData.selfEmployedType"
										ng-options="selfEmployment.id as selfEmployment.name for selfEmployment in selfEmploymentType"
										required>
										<option value="">Select Type</option>
									</select>
								</div>
							</div>
							<div class="col-md-3" ng-if="userData.employmentType == 2">
								<div class="form-group">
									<label class="control-label">Entity Name <span
										class="text-danger">*</span></label> <input type="text"
										class="form-control" data-ng-model="userData.entityName"
										required>
								</div>
							</div>

							<div class="col-md-3" ng-if="userData.employmentType == 2">
								<div class="form-group">
									<label class="control-label">Entity Type <span
										class="text-danger">*</span></label> <select class="form-control"
										ng-model="userData.entityType"
										ng-options="entity.id as entity.name for entity in entityType"
										required>
										<option value="">Select Entity Type</option>
									</select>
								</div>
							</div>
						</div>
						<!-- <div class="row">

							<div class="col-md-3"
								ng-show="userData.employmentType == 2 || userData.employmentType == 1">
								<div class="form-group">
									<label class="control-label">Employment Address</label> <input
										type="text" class="form-control"
										data-ng-model="userData.employmentAddress">
								</div>
							</div>
						</div> -->
						
						<br/>
						<div class="row" data-ng-if="userData.employmentType == 2 || userData.employmentType == 1">
							<div class="col-md-6">
								<label style="color: #555;"><b>Employment Address</b></label>
								<div class="form-group">
									<label class="control-label">Premises No And Building
										Name <span class="text-danger">*</span>
									</label> <input type="text" class="form-control"
										data-ng-model="userData.employmentAddress.premisesAndBuildingName"
										required>
								</div>
							</div>


							<div class="col-md-3">
								<label style="color: #555;">&nbsp;&nbsp;</label>
								<div class="form-group">
									<label class="control-label">Street Name <span
										class="text-danger">*</span></label> <input type="text"
										class="form-control"
										data-ng-model="userData.employmentAddress.streetName" required>
								</div>
							</div>
							<div class="col-md-3">
								<label style="color: #555;">&nbsp;&nbsp;</label>
								<div class="form-group">
									<label class="control-label">Land Mark <span
										class="text-danger">*</span></label> <input type="text"
										class="form-control"
										data-ng-model="userData.employmentAddress.landMark" required>
								</div>
							</div>
						</div>

						<div class="row" data-ng-if="userData.employmentType == 2 || userData.employmentType == 1">
							<div class="col-md-3">
								<div class="form-group">
									<label class="control-label">Country <span
										class="text-danger">*</span></label> <select class="form-control"
										data-ng-model="userData.employmentAddress.country.id"
										data-ng-options="coun.id as coun.name for coun in countries"
										data-ng-change="getStates(userData.employmentAddress.country.id,Constant.AddressType.EMPLOYMENT_ADD)"
										required>
										<option value="">Select Country</option>
									</select>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label class="control-label">State <span
										class="text-danger">*</span></label> <select class="form-control"
										data-ng-model="userData.employmentAddress.state.id"
										data-ng-options="state.id as state.name for state in empStates"
										data-ng-change="getCities(userData.employmentAddress.state.id,Constant.AddressType.EMPLOYMENT_ADD)"
										required>
										<option value="">Select State</option>
									</select>
								</div>
							</div>

							<div class="col-md-3">
								<div class="form-group">
									<label class="control-label">City <span
										class="text-danger">*</span></label> <select class="form-control"
										data-ng-model="userData.employmentAddress.city.id"
										data-ng-options="city.id as city.name for city in empCities"
										required>
										<option value="">Select City</option>
									</select>
								</div>
							</div>

							<div class="col-md-3">
								<div class="form-group">
									<label class="control-label">Pincode <span
										class="text-danger">*</span></label> <input type="text"
										class="form-control"
										data-ng-model="userData.employmentAddress.pincode" required>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-8"></div>
							<div class="col-md-4 ">
								<button type="submit" class="btn btn-primary pull-right"
									data-ng-disabled="isDisable">Submit</button>
							</div>
						</div>
					</form>

		</div>
	</div>
</div>
