<div class="container-fluid"> 
	<div class="row">
		<div class="col-md-12">
			<h4 class="title">
				<b>Application Profile - {{userData.firstName}}
					{{userData.middleName}} {{userData.lastName}}</b></a>
			</h4>
			<p class="category">
				<b>{{userData.applications[0].applicationTypeName}}</b>
			</p>
		</div>
		<div class="col-md-12">
			<div class="card-content">

				<!-- Loan Details -->
				<div class="panel panel-default">
					<div class="panel-heading">
						<b>Application Details</b>
					</div>
					<div class="panel-body">
						<table class="table table-striped custom-table">
							<thead class="text-primary">
								<tr>
									<th style="width: 5%">No.</th>
									<th>Lead Reference No.</th>
									<th>Application</th>
									<th>Amount</th>
									<th>Tenure</th>
									<th>Loan Type</th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="app in userData.applications">
									<td ng-init="getRespondedApplications(app)">{{$index + 1}}</td>
									<td>{{app.leadReferenceNo || Constant.NA }}</td>
									<td>{{app.applicationTypeName || Constant.NA}}</td>
									<td>{{app.loanAmount | number : 2 || Constant.NA}}</td>
									<td>{{app.tenure || Constant.NA}} Month</td>
									<td>{{loanCategoryList[app.loanCategoryId].name || 'NA'}}</td>
								</tr>
								<tr data-ng-if="userData.applications[0]">
									<td><b>Comments</b></td>
									<td colspan="6">
										{{userData.applications[0].brRemark}}
									</td>
								</tr>
								<tr data-ng-if="isEmpty(userData.applications)">
									<td colspan="7" class="alert alert-default text-center">
										No Applications!</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<!-- Personal Details -->
				<div class="panel panel-default">
					<div class="panel-heading">
						<b>Borrower Details</b> <a style="margin-top: -2px"
							class="btn btn-xs pull-right" ng-click="showMore = !showMore">
							<spna ng-show="!showMore">Show More</spna> <spna
								ng-show="showMore">Hide</spna>
						</a>
					</div>
					<div class="panel-body">

						<div class="col-md-12">
							<h5>Personal Details</h5>
						</div>

						<div class="col-md-2" ng-if="pdUserPermissionMatrixData.firstName">
							<label>First Name</label>
							<div>{{userData.firstName}}</div>
						</div>

						<div class="col-md-2" ng-if="pdUserPermissionMatrixData.middleName">
							<label>Middle Name</label>
							<div>{{userData.middleName || 'N.A'}}</div>
						</div>

						<div class="col-md-2" ng-if="pdUserPermissionMatrixData.lastName">
							<label>Last Name</label>
							<div>{{userData.lastName}}</div>
						</div>
						
						<div class="col-md-2" ng-if="pdUserPermissionMatrixData.profileImage">
							<img src="{{brProfileImageData.filePath}}"
								onerror="this.onerror=null; this.src='assets/img/default-pic.jpg';"
								style="height: 200px; width: 200px" class="img-rounded"
								alt="Cinque Terre">
						</div>

						<div class="col-md-12">
							<br>
						</div>

						<div class="col-md-4" ng-if="pdUserPermissionMatrixData.contactNumber">
							<label>Contact Number</label>
							<div>{{userData.contactNumber || 'N.A'}}</div>
						</div>

						<div class="col-md-4" ng-if="pdUserPermissionMatrixData.gender">
							<label>Gender</label>
							<div>{{getGenderById(userData.gender) || 'N.A'}}</div>
						</div>

						<div class="col-md-4" ng-if="pdUserPermissionMatrixData.eduQualification">
							<label>Education Qualification</label>
							<div>{{userData.eduQualification || 'N.A'}}</div>
						</div>

						<div class="col-md-12">
							<br>
						</div>

						<div class="col-md-4" ng-if="pdUserPermissionMatrixData.birthDate">
							<label>Date Of Birth</label>
							<div>{{userData.birthDate | date : dateFormate}}</div>
						</div>

						<div class="col-md-4" ng-if="pdUserPermissionMatrixData.aadharCardNo">
							<label>Aadhaar Card Number</label>
							<div>{{userData.aadharCardNo || 'N.A'}}</div>
						</div>

						<div class="col-md-4" ng-if="pdUserPermissionMatrixData.panCard">
							<label>PAN Number</label>
							<div>{{userData.panCard || 'N.A'}}</div>
						</div>

						<div class="col-md-12">
							<br>
						</div>

						<div ng-if="showMore">
							<div class="col-md-12">
								<h5>Employment Details</h5>
							</div>

							<div class="col-md-4" ng-if="pdUserPermissionMatrixData.employmentType">
								<label>Employment Type</label>
								<div>{{userData.employmentType === 1 ? 'Salaried' :
									userData.employmentType === 2 ? 'Self Employed' : 'N.A'}}</div>
							</div>

							<div ng-if="userData.employmentType===1">
								<div class="col-md-4" ng-if="pdUserPermissionMatrixData.employerName">
									<label>Employer Name</label>
									<div>{{userData.employerName || 'N.A'}}</div>
								</div>

								<div class="col-md-12">
									<br>
								</div>

								<div class="col-md-4" ng-if="pdUserPermissionMatrixData.grossMonthlyIncome">
									<label>Gross Monthly Income</label>
									<div>{{userData.grossMonthlyIncome | number : 2 ||
										'N.A'}}</div>
								</div>

								<div class="col-md-4" ng-if="pdUserPermissionMatrixData.totalWorkExperience">
									<label>Total Work Experience</label>
									<div>{{userData.totalWorkExperience || 'N.A'}}</div>
								</div>
							</div>

							<div ng-if="userData.employmentType===2">
								<div class="col-md-4">
									<label>Entity Name</label>
									<div>{{userData.entityName || 'N.A'}}</div>
								</div>

							</div>

							<div class="col-md-12">
								<br>
							</div>

							<div class="col-md-12" ng-if="pdUserPermissionMatrixData.employmentAddress">
								<h5>Employment Address</h5>
							</div>
							<div
								data-ng-if="(userData.employmentType == 2 || userData.employmentType == 1) && (pdUserPermissionMatrixData.employmentAddress)">
								<div class="col-md-6">
									<label>Premises No And Building</label>
									<div>{{userData.employmentAddress.premisesAndBuildingName
										|| 'N.A'}}</div>
								</div>

								<div class="col-md-3">
									<label>Street Name</label>
									<div>{{userData.employmentAddress.streetName || 'N.A'}}</div>
								</div>
								<div class="col-md-3">
									<label>Land Mark</label>
									<div>{{userData.employmentAddress.landMark || 'N.A'}}</div>
								</div>

								<div class="col-md-12">
									<br>
								</div>

								<div class="col-md-3">
									<label>City</label>
									<div>{{userData.employmentAddress.city.name || 'N.A'}}</div>
								</div>

								<div class="col-md-3">
									<label>State</label>
									<div>{{userData.employmentAddress.state.name || 'N.A'}}</div>
								</div>

								<div class="col-md-3">
									<label>Country</label>
									<div>{{userData.employmentAddress.country.name || 'N.A'}}</div>
								</div>

								<div class="col-md-3">
									<label>Pincode</label>
									<div>{{userData.employmentAddress.pincode || 'N.A'}}</div>
								</div>
							</div>

							<div class="col-md-12">
								<br>
							</div>

							<div class="col-md-12" ng-if="pdUserPermissionMatrixData.permanentAdd">
								<h5>Permanent Address</h5>
							</div>

							<div class="col-md-6" ng-if="pdUserPermissionMatrixData.permanentAdd">
								<label>Premises and Building Name</label>
								<div>{{userData.permanentAdd.premisesAndBuildingName ||
									'N.A'}}</div>
							</div>

							<div class="col-md-3" ng-if="pdUserPermissionMatrixData.permanentAdd">
								<label>Street Name</label>
								<div>{{userData.permanentAdd.streetName || 'N.A'}}</div>
							</div>

							<div class="col-md-3" ng-if="pdUserPermissionMatrixData.permanentAdd">
								<label>Land Mark</label>
								<div>{{userData.permanentAdd.landMark || 'N.A'}}</div>
							</div>

							<div class="col-md-12">
								<br>
							</div>

							<div class="col-md-3" ng-if="pdUserPermissionMatrixData.permanentAdd">
								<label>City</label>
								<div>{{userData.permanentAdd.city.name || 'N.A'}}</div>
							</div>

							<div class="col-md-3" ng-if="pdUserPermissionMatrixData.permanentAdd">
								<label>State</label>
								<div>{{userData.permanentAdd.state.name || 'N.A'}}</div>
							</div>

							<div class="col-md-3" ng-if="pdUserPermissionMatrixData.permanentAdd">
								<label>Country</label>
								<div>{{userData.permanentAdd.country.name || 'N.A'}}</div>
							</div>

							<div class="col-md-3" ng-if="pdUserPermissionMatrixData.permanentAdd">
								<label>Pincode</label>
								<div>{{userData.permanentAdd.pincode || 'N.A'}}</div>
							</div>

							<div class="col-md-12">
								<br>
							</div>

							<div class="col-md-12" ng-if="pdUserPermissionMatrixData.communicationAdd"	>
								<h5>Communication Address</h5>
							</div>

							<div class="col-md-6" ng-if="pdUserPermissionMatrixData.communicationAdd">
								<label>Premises and Building Name</label>
								<div>{{userData.communicationAdd.premisesAndBuildingName
									|| 'N.A'}}</div>
							</div>

							<div class="col-md-3" ng-if="pdUserPermissionMatrixData.communicationAdd">
								<label>Street Name</label>
								<div>{{userData.communicationAdd.streetName || 'N.A'}}</div>
							</div>

							<div class="col-md-3" ng-if="pdUserPermissionMatrixData.communicationAdd">
								<label>Land Mark</label>
								<div>{{userData.communicationAdd.landMark || 'N.A'}}</div>
							</div>

							<div class="col-md-12">
								<br>
							</div>

							<div class="col-md-3" ng-if="pdUserPermissionMatrixData.communicationAdd">
								<label>City</label>
								<div>{{userData.communicationAdd.city.name || 'N.A'}}</div>
							</div>

							<div class="col-md-3" ng-if="pdUserPermissionMatrixData.communicationAdd">
								<label>State</label>
								<div>{{userData.communicationAdd.state.name || 'N.A'}}</div>
							</div>

							<div class="col-md-3" ng-if="pdUserPermissionMatrixData.communicationAdd">
								<label>Country</label>
								<div>{{userData.communicationAdd.country.name || 'N.A'}}</div>
							</div>

							<div class="col-md-3" ng-if="pdUserPermissionMatrixData.communicationAdd">
								<label>Pincode</label>
								<div>{{userData.communicationAdd.pincode || 'N.A'}}</div>
							</div>
						</div>
					</div>
				</div>

				<!-- CoApplicant details sn -->
				<div class="panel panel-default"
					ng-if="userData.applications[0].userCoApplicantBO && pdUserPermissionMatrixData.coApplicantDetails">
					<div class="panel-heading">
						<b>Co-Applicant Details</b> <a style="margin-top: -2px"
							class="btn btn-xs pull-right"
							ng-click="showMoreCoApplicantDetails = !showMoreCoApplicantDetails">
							<spna ng-show="!showMoreCoApplicantDetails">Show More</spna> <spna
								ng-show="showMoreCoApplicantDetails">Hide</spna>
						</a>
					</div>
					<div class="panel-body">

						<div class="col-md-12">
							<h5>Personal Details</h5>
						</div>

						<div class="col-md-4">
							<label>First Name</label>
							<div>{{userData.applications[0].userCoApplicantBO.firstName}}</div>
						</div>

						<div class="col-md-4">
							<label>Middle Name</label>
							<div>{{userData.applications[0].userCoApplicantBO.middleName
								|| 'N.A'}}</div>
						</div>

						<div class="col-md-4">
							<label>Last Name</label>
							<div>{{userData.applications[0].userCoApplicantBO.lastName}}</div>
						</div>

						<div class="col-md-12">
							<br>
						</div>

						<div class="col-md-4">
							<label>Contact Number</label>
							<div>{{userData.applications[0].userCoApplicantBO.contactNumber
								|| 'N.A'}}</div>
						</div>

						<div class="col-md-4">
							<label>Gender</label>
							<div>{{getGenderById(userData.applications[0].userCoApplicantBO.gender)
								|| 'N.A'}}</div>
						</div>

						<div class="col-md-4">
							<label>Education Qualification</label>
							<div>{{userData.applications[0].userCoApplicantBO.eduQualification
								|| 'N.A'}}</div>
						</div>

						<div class="col-md-12">
							<br>
						</div>

						<div class="col-md-4">
							<label>Date Of Birth</label>
							<div>{{userData.applications[0].userCoApplicantBO.birthDate
								| date : dateFormate}}</div>
						</div>

						<div class="col-md-4">
							<label>Aadhaar Card Number</label>
							<div>{{userData.applications[0].userCoApplicantBO.aadharCardNo
								|| 'N.A'}}</div>
						</div>

						<div class="col-md-4">
							<label>PAN Number</label>
							<div>{{userData.applications[0].userCoApplicantBO.panCard
								|| 'N.A'}}</div>
						</div>

						<div class="col-md-12">
							<br>
						</div>

						<div ng-if="showMoreCoApplicantDetails">
							<div class="col-md-12">
								<h5>Employment Details</h5>
							</div>

							<div class="col-md-4">
								<label>Employment Type</label>
								<div>{{userData.applications[0].userCoApplicantBO.employmentType
									=== 1 ? 'Salaried' :
									userData.applications[0].userCoApplicantBO.employmentType === 2
									? 'Self Employed' : 'N.A'}}</div>
							</div>

							<div
								ng-if="userData.applications[0].userCoApplicantBO.employmentType===1">
								<div class="col-md-4">
									<label>Employer Name</label>
									<div>{{userData.applications[0].userCoApplicantBO.employerName
										|| 'N.A'}}</div>
								</div>

								<div class="col-md-12">
									<br>
								</div>

								<div class="col-md-4">
									<label>Gross Monthly Income</label>
									<div>{{userData.applications[0].userCoApplicantBO.grossMonthlyIncome
										| number : 2 || 'N.A'}}</div>
								</div>

								<div class="col-md-4">
									<label>Total Work Experience</label>
									<div>{{userData.applications[0].userCoApplicantBO.totalWorkExperience
										|| 'N.A'}}</div>
								</div>
							</div>

							<div
								ng-if="userData.applications[0].userCoApplicantBO.employmentType===2">
								<div class="col-md-4">
									<label>Entity Name</label>
									<div>{{userData.applications[0].userCoApplicantBO.entityName
										|| 'N.A'}}</div>
								</div>
							</div>

							<div class="col-md-12">
								<br>
							</div>

							<div class="col-md-12">
								<h5>Employment Address</h5>
							</div>
							<div
								data-ng-if="userData.applications[0].userCoApplicantBO.employmentType == 2 || userData.applications[0].userCoApplicantBO.employmentType == 1">
								<div class="col-md-6">
									<label>Premises No And Building</label>
									<div>{{userData.applications[0].userCoApplicantBO.employmentAddress.premisesAndBuildingName
										|| 'N.A'}}</div>
								</div>

								<div class="col-md-3">
									<label>Street Name</label>
									<div>{{userData.applications[0].userCoApplicantBO.employmentAddress.streetName
										|| 'N.A'}}</div>
								</div>
								<div class="col-md-3">
									<label>Land Mark</label>
									<div>{{userData.applications[0].userCoApplicantBO.employmentAddress.landMark
										|| 'N.A'}}</div>
								</div>

								<div class="col-md-12">
									<br>
								</div>

								<div class="col-md-3">
									<label>City</label>
									<div>{{userData.applications[0].userCoApplicantBO.employmentAddress.city.name
										|| 'N.A'}}</div>
								</div>

								<div class="col-md-3">
									<label>State</label>
									<div>{{userData.applications[0].userCoApplicantBO.employmentAddress.state.name
										|| 'N.A'}}</div>
								</div>

								<div class="col-md-3">
									<label>Country</label>
									<div>{{userData.applications[0].userCoApplicantBO.employmentAddress.country.name
										|| 'N.A'}}</div>
								</div>

								<div class="col-md-3">
									<label>Pincode</label>
									<div>{{userData.applications[0].userCoApplicantBO.employmentAddress.pincode
										|| 'N.A'}}</div>
								</div>
							</div>


							<div class="col-md-12">
								<br>
							</div>

							<div class="col-md-12">
								<h5>Permanent Address</h5>
							</div>

							<div class="col-md-6">
								<label>Premises and Building Name</label>
								<div>{{userData.applications[0].userCoApplicantBO.permanentAdd.premisesAndBuildingName
									|| 'N.A'}}</div>
							</div>

							<div class="col-md-3">
								<label>Street Name</label>
								<div>{{userData.applications[0].userCoApplicantBO.permanentAdd.streetName
									|| 'N.A'}}</div>
							</div>

							<div class="col-md-3">
								<label>Land Mark</label>
								<div>{{userData.applications[0].userCoApplicantBO.permanentAdd.landMark
									|| 'N.A'}}</div>
							</div>

							<div class="col-md-12">
								<br>
							</div>

							<div class="col-md-3">
								<label>City</label>
								<div>{{userData.applications[0].userCoApplicantBO.permanentAdd.city.name
									|| 'N.A'}}</div>
							</div>

							<div class="col-md-3">
								<label>State</label>
								<div>{{userData.applications[0].userCoApplicantBO.permanentAdd.state.name
									|| 'N.A'}}</div>
							</div>

							<div class="col-md-3">
								<label>Country</label>
								<div>{{userData.permanentAdd.country.name || 'N.A'}}</div>
							</div>

							<div class="col-md-3">
								<label>Pincode</label>
								<div>{{userData.applications[0].userCoApplicantBO.permanentAdd.pincode
									|| 'N.A'}}</div>
							</div>

							<div class="col-md-12">
								<br>
							</div>

							<div class="col-md-12">
								<h5>Communication Address</h5>
							</div>

							<div class="col-md-6">
								<label>Premises and Building Name</label>
								<div>{{userData.applications[0].userCoApplicantBO.communicationAdd.premisesAndBuildingName
									|| 'N.A'}}</div>
							</div>

							<div class="col-md-3">
								<label>Street Name</label>
								<div>{{userData.applications[0].userCoApplicantBO.communicationAdd.streetName
									|| 'N.A'}}</div>
							</div>

							<div class="col-md-3">
								<label>Land Mark</label>
								<div>{{userData.applications[0].userCoApplicantBO.communicationAdd.landMark
									|| 'N.A'}}</div>
							</div>

							<div class="col-md-12">
								<br>
							</div>

							<div class="col-md-3">
								<label>City</label>
								<div>{{userData.applications[0].userCoApplicantBO.communicationAdd.city.name
									|| 'N.A'}}</div>
							</div>

							<div class="col-md-3">
								<label>State</label>
								<div>{{userData.applications[0].userCoApplicantBO.communicationAdd.state.name
									|| 'N.A'}}</div>
							</div>

							<div class="col-md-3">
								<label>Country</label>
								<div>{{userData.applications[0].userCoApplicantBO.communicationAdd.country.name
									|| 'N.A'}}</div>
							</div>

							<div class="col-md-3">
								<label>Pincode</label>
								<div>{{userData.applications[0].userCoApplicantBO.communicationAdd.pincode
									|| 'N.A'}}</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Coapplicant details en -->

				<!-- Doc Details -->
				<div class="panel panel-default" ng-if="pdUserPermissionMatrixData.brDocuments">
					<div class="panel-heading">
						<b>Documents - {{userData.firstName}}&nbsp;{{userData.lastName}}</b>
					</div>
					<div class="panel-body">
						<div class="panel panel-default"
							data-ng-repeat="document in documentList">
							&nbsp;&nbsp;&nbsp;<b>{{document.documentMstrName}}</b>
							<div class="panel-body">
								<div class="col-md-2"
									data-ng-repeat="doc in document.documentResponseList">
									<div>
										<a target="_blank" href="{{doc.filePath}}" download
											class="btn btn-default"> {{doc.originalName}}</a>
									</div>
								</div>
								<div class="col-md-12">
									<div class="text-center"
										ng-if="document.documentResponseList.length < 1">
										<b>No Documents Attached</b>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Processing Documents -->
				<div class="panel panel-default"  data-ng-if="(userData.applications[0].respondedApplications[0].status != Constant.Status.REJECTED && pdUserPermissionMatrixData.respondedDocuments) ">
					<div class="panel-heading">
						<b>Loan Processing Documents </b>
					</div>
					<div class="panel-body">
						<div class="panel panel-default"
							data-ng-repeat="document in processSubmitFormDocuments.documentResponseList">
							&nbsp;&nbsp;&nbsp;<b>{{document.documentMstrName}}</b>
							<div class="panel-body">
								<div class="col-md-2"
									data-ng-repeat="doc in processSubmitFormDocuments.documentResponseList">
									<div>
										<a target="_blank" href="{{doc.filePath}}" download
											class="btn btn-default"> {{doc.originalName}}</a>
									</div>
								</div>
								<div class="col-md-12">
									<div class="text-center"
										ng-if="processSubmitFormDocuments.documentResponseList.length < 1">
										<b>No Documents Attached</b>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="panel-body" data-ng-if="processSubmitFormDocuments.documentResponseList.length == 1">
						<div class="col-md-3">
							<label class="btn btn-default" style="white-space: pre-line;">
								<b>{{processSactionedFormDocuments.documentMstrName}} <span
									class="text-danger">*</span>
							</b> <input type="file" title="Upload size limit 5 MB"
								upload-files
								id="{{processSactionedFormDocuments.documentMstrId}}"
								data-ng-disabled="processSactionedFormDocuments.documentResponseList.length == 1"
								onchange="angular.element(this).scope().uploadAppFile(this);">
							</label>
						</div>

						<div class="col-md-2"
							data-ng-repeat="doc in processSactionedFormDocuments.documentResponseList">
							<div class="input-group">
								<input type="text" class="form-control"
									data-ng-model="doc.originalName" disabled> <span
									class="input-group-btn">
									<button class="btn btn-sm btn-default" type="button"
										ng-click="inActiveDocument(doc.documentMappingId,documents.documentMstrId,documents.documentResponseList,$index)">x</button>
								</span>
							</div>
						</div>
						
						<div class="col-md-2"
							data-ng-repeat="doc in processSactionedFormDocuments.documentResponseList">
							<div>
								<a target="_blank" href="{{doc.filePath}}" download
									class="btn btn-default"> {{doc.originalName}}</a>
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-4 ">
								<button type="button"
								 data-ng-if="(currentUser.userType == 1 && (userData.applications[0].respondedApplications[0].status == Constant.Status.ACCEPTED || userData.applications[0].respondedApplications[0].status == Constant.Status.FORMAPPLIED ))"
								 class="btn btn-primary" data-dismiss="modal" data-ng-click="autoUpdateStatus()">Update</button>
							</div>
						</div>
					</div>
				</div>

				<div class="panel panel-default"
					ng-if="(userData.applications[0].userCoApplicantBO && pdUserPermissionMatrixData.coApplicantDocuments)">
					<div class="panel-heading">
						<b>Documents - Co-Applicant&nbsp;&nbsp;&nbsp;{{userData.applications[0].userCoApplicantBO.name}}</b>
					</div>
					<div class="panel-body">
						<div class="panel panel-default"
							data-ng-repeat="document in coApplicantDocumentList">
							&nbsp;&nbsp;&nbsp;<b>{{document.documentMstrName}}</b>
							<div class="panel-body">
								<div class="col-md-2"
									data-ng-repeat="doc in document.documentResponseList">
									<div>
										<a target="_blank" href="{{doc.filePath}}" download
											class="btn btn-default"> {{doc.originalName}}</a>
									</div>
								</div>
								<div class="col-md-12">
									<div class="text-center"
										ng-if="document.documentResponseList.length < 1">
										<b>No Documents Attached</b>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!--Other loan-->
				<div class="panel panel-default" ng-if="pdUserPermissionMatrixData.existingLoan">
					<div class="panel-heading">
						<b>Existing Loan</b>
					</div>
					<div class="panel-body">
						<div>
							<table class="table table-striped custom-table">
								<thead class="text-primary">
									<tr>
										<th style="width: 5%">No.</th>
										<th>Application Type</th>
										<th>Outstanding Amount (Rs.)</th>
										<th>EMI (Rs.)</th>
										<th>Tenure (Month)</th>
										<th>Created Date</th>
									</tr>
								</thead>
								<tbody>
									<tr
										data-ng-repeat="application in applicationList | filter : {loanTypeId : Constant.LoanType.EXISTING_LOAN}">
										<td>{{$index + 1}}</td>
										<td>{{application.applicationTypeName || Constant.NA }}</td>
										<td>{{application.loanAmount || 0 | currency :
											getCurrencySymbol()}}</td>
										<td>{{application.emi || '0' | currency :
											getCurrencySymbol()}}</td>
										<td>{{application.tenure || '0'}}</td>
										<td>{{application.createdDate | date : dateFormate}}</td>
									</tr>

									<tr data-ng-if="applicationList.length > 0">
										<th colspan="2">Total</th>
										<th>{{totalExistingLoanAmount || 0 | currency :
											getCurrencySymbol()}}</th>
										<th>{{totalExistingLoanEMI || 0 | currency :
											getCurrencySymbol()}}</th>
										<td>-</td>
										<td>-</td>
									</tr>

									<tr data-ng-if="existingAppCount < 1">
										<td colspan="8" class="alert alert-default text-center">No
											Application Available!</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>

				<div class="panel panel-default" ng-if="pdUserPermissionMatrixData.closedLoan">
					<div class="panel-heading">
						<b>Closed Loan</b>
					</div>
					<div class="panel-body">
						<div>
							<table class="table table-striped custom-table">
								<thead class="text-primary">
									<tr>
										<th style="width: 5%">No.</th>
										<th>Application Type</th>
										<th>Amount (Rs.)</th>
										<th>Tenure (Month.)</th>
										<th>Bank Name</th>
										<th>Account Number</th>
									</tr>
								</thead>
								<tbody>
									<tr
										ng-repeat="application in applicationList | filter : {loanTypeId : Constant.LoanType.CLOSED_LOAN}">
										<td>{{$index + 1}}</td>
										<td>{{application.applicationTypeName || Constant.NA }}</td>
										<td>{{application.loanAmount | currency :
											getCurrencySymbol()}}</td>
										<td>{{application.tenure || '0'}}</td>
										<td>{{application.bankName || Constant.NA}}</td>
										<td>{{application.bankAccNumber || Constant.NA}}</td>
									</tr>

									<tr data-ng-if="closedAppCount < 1">
										<td colspan="8" class="alert alert-default text-center">No
											Application Available!</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				
				<!-- PD User upload docs -->
				<div class="row" data-ng-if="currentUser.userType == Constant.UserType.PD_USER.id">
					<div class="panel panel-default">
						<div class="panel-heading">
							<b>PD User Reports</b>
						</div>
						
						<div class="panel panel-default">
							<div class="panel-heading">
								<b>PD Reports Documents </b>
							</div>
							
							<div class="panel-body">
								<div class="col-md-3">
									<label class="btn btn-default" style="white-space: pre-line;">
										<b>{{pdReportDocuments.documentMstrName}} <span
											class="text-danger">*</span>
									</b> <input type="file" title="Upload size limit 5 MB" upload-files
										id="{{pdReportDocuments.documentMstrId}}"
										onchange="angular.element(this).scope().uploadAppFile(this);">
									</label>
								</div>
								
								<div class="col-md-2" data-ng-repeat="doc in pdReportDocuments.documentResponseList">
									<div class="input-group">
										<input type="text" class="form-control"
											data-ng-model="doc.originalName" disabled> <span
											class="input-group-btn">
											<button class="btn btn-sm btn-default" type="button"
												ng-click="inActiveDocument(doc.documentMappingId,documents.documentMstrId,documents.documentResponseList,$index)">x</button>
										</span>
									</div>
								</div>
								
								<div class="col-md-9">
									<div class="row">
										<div class="col-md-4" data-ng-if="pdReportDocuments.documentResponseList.length ">
											<div class="form-group">
												<label data-ng-if="applicationDetails.status == Constant.Status.FORMAPPLIED" class="control-label">Actual Report Date<span class="text-danger">*</span></label> 
													<input ng-focus="open()"
													type="text" name="reportedDate" class="form-control" id="reportedDate"
													uib-datepicker-popup="dd/MM/yyyy"
													data-ng-model="reportedDate" is-open="popup.opened"
													ng-required="true" close-text="Close" />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="panel-body">
							<div class="col-md-4 ">
								<button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="updateAgencyStatus()">Update</button>
							</div>
						</div>
					</div>
				</div>
				<!-- PD User upload docs -->
				
				<!-- FCI User report documents -->
				<div class="row"  data-ng-if="currentUser.userType == Constant.UserType.FCI_USER.id">
					<div class="panel panel-default">
						<div class="panel-heading">
							<b>FCI User Reports</b>
						</div>
						
						<div class="panel panel-default">
							<div class="panel-heading">
								<b>FCI Reports Documents </b>
							</div>
							
							<div class="panel-body">
								<div class="col-md-3">
									<label class="btn btn-default" style="white-space: pre-line;">
										<b>{{fciReportDocuments.documentMstrName}} <span
											class="text-danger">*</span>
									</b> <input type="file" title="Upload size limit 5 MB" upload-files
										id="{{fciReportDocuments.documentMstrId}}"
										onchange="angular.element(this).scope().uploadAppFile(this);">
									</label>
								</div>
								
								<div class="col-md-2" data-ng-repeat="doc in fciReportDocuments.documentResponseList">
									<div class="input-group">
										<input type="text" class="form-control"
											data-ng-model="doc.originalName" disabled> <span
											class="input-group-btn">
											<button class="btn btn-sm btn-default" type="button"
												ng-click="inActiveDocument(doc.documentMappingId,documents.documentMstrId,documents.documentResponseList,$index)">x</button>
										</span>
									</div>
								</div>
								
								<div class="col-md-9">
									<div class="row">
										<div class="col-md-4" data-ng-if="fciReportDocuments.documentResponseList.length ">
											<div class="form-group">
												<label data-ng-if="applicationDetails.status == Constant.Status.FORMAPPLIED" class="control-label">Actual Report Date<span class="text-danger">*</span></label> 
													<input ng-focus="open()"
													type="text" name="reportedDate" class="form-control" id="reportedDate"
													uib-datepicker-popup="dd/MM/yyyy"
													data-ng-model="reportedDate" is-open="popup.opened"
													ng-required="true" close-text="Close" />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="panel-body">
							<div class="col-md-4 ">
								<button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="updateAgencyStatus()">Update</button>
							</div>
						</div>
					</div>
				</div>
				<!-- FCI User report documents -->
				
				<!-- Interview Questions --> 
				<div class="row" data-ng-if="currentUser.userType == Constant.UserType.PD_USER.id">
					<div class="panel panel-default">
						<div class="panel-heading">
							<b>Borrower Discussion</b>
						</div>
						
						<div class="panel-body">
							<div class="row" data-ng-repeat="question in allQuestions">
								<div class="col-md-3">
									<div class="form-group">
										Question : <label class="control-label">{{question.questionDesc}} </label>
										<br/>
										Answers  :<input type="text" name="answer" class="form-control" data-ng-model="question.answer">
									</div>
								</div>
							</div>
						</div>
						
						<div class="panel-body">
							<div class="col-md-4 ">
								<button type="button" data-ng-if="!interviewStatus" class="btn btn-primary"  data-ng-click="submitAnsersOfBorrower()">Submit Answers</button>
							</div>
						</div>
					</div>
				</div>
				<!-- Interview Questions -->
			</div>
		</div>

		<!-- Respond Modal -->
		<div class="modal fade" id="responseModel" role="dialog">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Approve Loan Request</h4>
					</div>
					<div class="modal-body">
						<form name="responseForm" novalidate>
							<div class="row">
								<div class="col-md-3">
									<div class="form-group">
										<label class="control-label">Possible Loan Amount<span
											class="text-danger">*</span></label> <input type="number"
											class="form-control"
											data-ng-model="respond.loanPossibleAmount"
											ng-disabled="!respond.canEdit"
											name="respond.possibleLoanAmount" ng-required="true">
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<label class="control-label">Tenure in Month<span
											class="text-danger">*</span></label> <input type="number"
											class="form-control" data-ng-model="respond.tenure"
											name="tenure" ng-disabled="!respond.canEdit"
											ng-required="true">
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<label class="control-label">Interest Rate<span
											class="text-danger">*</span></label> <input type="number"
											class="form-control" data-ng-model="respond.roi"
											ng-disabled="!respond.canEdit" name="interestRate"
											ng-required="true">
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<label class="control-label">Processing Fees(Including
											Taxes)<span class="text-danger">*</span>
										</label> <input type="number" class="form-control"
											data-ng-model="respond.processingFees"
											ng-disabled="!respond.canEdit" name="processingFees"
											ng-required="true">
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<label class="control-label">Terms and Conditions<span
											class="text-danger">*</span></label>
										<textarea class="form-control"
											data-ng-model="respond.termAndCondition"
											data-ng-disabled="!respond.canEdit" name="terms"
											ng-required="true"></textarea>
									</div>
								</div>
							</div>
							
						</form>
					</div>
					<div class="modal-footer">
						<div class="col-md-12">
							<button type="button" data-ng-if="respond.canEdit"
								class="btn btn-primary" data-ng-click="submitApproval()"
								data-dismiss="modal">Submit</button>
							<button type="button" class="btn btn-default"
								data-dismiss="modal">Close</button>
							<button type="button" data-ng-if="(!respond.canEdit && sactionedFileEdit && currentUser.userType != 1)"
								class="btn btn-primary" data-dismiss="modal"
								data-ng-click="autoUpdateStatus()">Update</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>