<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<div class="card" style="width:100%">
				<div class="card-header" data-background-color="purple">
					<h4 class="title">Channel Partners Payouts</h4>
					<p class="category">List of Channel Partner Payout Structure System</p>
				</div>
				<br />
				<div class="col-md-12 col-sm-12">
					<div class="panel panel-default">
						<div class="panel-body">
							<span>Products <span class="badge">{{allPayOuts.length}}</span></span>
						</div>

						<div class="card-content table-responsive">
							<table class="table table-condensed table-bordered">
								<thead>
									<tr>
										<th>Id</th>
										<th>Name</th>
										<th>Code</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat-start="payout in allPayOuts">
										<td ng-bind="payout.id"></td>
										<td ng-bind="payout.name"></td>
										<td ng-bind="payout.code"></td>
									</tr>
									<tr ng-repeat-end >
										<td colspan="3">
											<table class="table table-striped table-bordered">
												<thead>
													<tr>
														<th>Min</th>
														<th>Max</th>
														<th>Percentage (%)</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="payDetails in payout.payOuts">
														<td>{{payDetails.disbursmentFromAmt}}</td>
														<td>{{payDetails.disbursmentToAmt}}</td>
														<td>{{payDetails.payOutInPerc}}</td>
													</tr>
													<tr data-ng-if="payout.payOuts < 1">
														<td colspan="4">No Payout Is Configured</td>
													</tr>
												</tbody>
											</table>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>