<div class="col-md-12 col-sm-12 col-lg-12">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<h5 class="title">
					<b>Applications </b>
				</h5>
			</div>
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<b>List of all Applications</b>
					</div>
					<div class="panel-body">
						<div class="list-group" ng-repeat="product in products">
							<h4>
								<b>{{product.applicationTypeMstrBO.name}} </b>
							</h4>
							<div class="row">
								<div class="col-md-6">
									<h4 class="label"
										ng-class="status == 'ACCEPTED' ? 'label-success' : (satus == 'RESPONDED' ? 'label-primary' : 'label-danger')">{{status}}</h4>
								</div>
 
								<div class="col-md-12">
									<div class="table-responsive">
										<table class="table custom-table">
											<thead class="text-primary">

												<tr>
													<th>Sr No.</th>
													<th>Name</th>
													<th>Email</th>
													<th>Mobile</th>
													<th>Employment</th>
													<th>Reference No</th>
													<th>Amount</th>
													<th>Tenure</th>
													<th>Action</th>
												</tr>
											</thead>

											<tbody data-ng-if="status != Constant.Status.OPEN">
												<tr
													data-ng-repeat="app in product.applications | filter : searchApps"
													class="bg-active">
													<td>{{$index + 1}}</td>
													<td>{{app.application.firstName}}
														{{app.application.lastName}}</td>
													<td>{{app.application.email}}</td>
													<td>{{app.application.mobile}}</td>
													<td>{{getEmployementType(app.application.employmentType)}}</td>
													<td>{{app.application.leadReferenceNo}}</td>
													<td>{{app.application.loanAmount}}</td>
													<td>{{app.application.tenure}} Month</td>
													<td>
														<button class="btn btn-info btn-sm"
															data-ui-sref="web.lams.brLoanPDUserViewProfile({brId:app.application.userId, appId:app.application.id, appTypeId:product.id})">
															View </button>
													</td>
												</tr>
												<tr data-ng-if="isEmpty(product.applications)">
													<td colspan="9" class="text-center text-danger"><span
														class=" text-danger">No <b>{{status}}</b>
															Application Available!
													</span></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
						<div class="list-group" ng-if="isEmpty(products)">No Products Added Yet!</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- Respond Modal -->
<div class="modal fade" id="responseModel" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Approve Loan Request</h4>
			</div>
			<div class="modal-body">
				<form name="responseForm" novalidate>
					<div class="row">
						<div class="col-md-3">
							<div class="form-group">
								<label class="control-label">Possible Loan Amount<span
									class="text-danger">*</span></label> <input type="number"
									class="form-control" data-ng-model="appData.loanPossibleAmount"
									data-ng-disabled="!appData.canEdit"
									name="appData.possibleLoanAmount" data-ng-required="true">
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label class="control-label">Tenure in Month<span
									class="text-danger">*</span></label> <input type="number"
									class="form-control" data-ng-model="appData.tenure"
									name="tenure" data-ng-disabled="!appData.canEdit"
									data-ng-required="true">
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label class="control-label">Interest Rate<span
									class="text-danger">*</span></label> <input type="number"
									class="form-control" data-ng-model="appData.roi"
									data-ng-disabled="!appData.canEdit" name="interestRate"
									data-ng-required="true">
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label class="control-label">Processing Fees(Including
									Taxes)<span class="text-danger">*</span>
								</label> <input type="number" class="form-control"
									data-ng-model="appData.processingFees"
									data-ng-disabled="!appData.canEdit" name="processingFees"
									data-ng-required="true">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">Terms and Conditions<span
									class="text-danger">*</span></label>
								<textarea class="form-control"
									data-ng-model="appData.termAndCondition"
									data-ng-disabled="!appData.canEdit" name="terms"
									data-ng-required="true"></textarea>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<div class="col-md-12">
					<button type="button" class="btn btn-primary"
						data-ng-if="appData.canEdit" data-ng-click="submitApproval()"
						data-dismiss="modal">Submit</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>